Repository debops/debops, pull requests merged in 2020-10, with the labels that each got.

#1518 [lvm] Scan Software RAID devices by default
  CHANGELOG.rst
  ansible/roles/lvm/defaults/main.yml
Labels: change, status: completed

#1522 Minor stuff and setup the NetBox Request Queue Worker
  CHANGELOG.rst
  ansible/debops-contrib-playbooks/service/apt_cacher_ng.yml
  ansible/debops-contrib-playbooks/service/dnsmasq.yml
  ansible/roles/cryptsetup/defaults/main.yml
  ansible/roles/cryptsetup/tasks/manage_devices.yml
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/handlers/main.yml
  ansible/roles/netbox/meta/watch-netbox
  ansible/roles/netbox/tasks/main.yml
  ansible/roles/netbox/templates/etc/systemd/system/netbox-rq.service.j2
  ansible/roles/netbox/templates/etc/systemd/system/netbox.service.j2
  ansible/roles/tor/defaults/main.yml
  docs/meta/philosophy.rst
Labels: bug, status: completed, tag: version upgrade

#1526 Ensure to add _netdev to choosen options
  ansible/roles/nfs/templates/lookup/mount_options.j2
Labels: bug, status: completed, tag: NFS

#1527 Fix custom lookup plugins on Ansible 2.10
  CHANGELOG.rst
  ansible/roles/ansible_plugins/lookup_plugins/file_src.py
  ansible/roles/ansible_plugins/lookup_plugins/task_src.py
  ansible/roles/ansible_plugins/lookup_plugins/template_src.py
  ansible/roles/system_users/defaults/main.yml
Labels: bug, status: completed

#1529 Upstream app upgrades and small role fixes
  CHANGELOG.rst
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/ipxe/meta/watch-firmware-buster
  ansible/roles/ipxe/meta/watch-netboot-buster
  ansible/roles/journald/tasks/main.yml
  ansible/roles/lxd/defaults/main.yml
  ansible/roles/lxd/tasks/main.yml
  ansible/roles/owncloud/tasks/tarball.yml
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/roundcube/meta/watch-roundcubemail
Labels: change, status: completed, tag: mail services, tag: version upgrade

#1530 Changes in LDAP object class definitions
  CHANGELOG.rst
  ansible/roles/slapd/defaults/main.yml
  ansible/roles/slapd/files/etc/ldap/schema/debops/groupofentries.schema
  ansible/roles/slapd/files/etc/ldap/schema/debops/openssh-lpk.schema
  docs/ansible/roles/slapd/ldap-dit.rst
  docs/ansible/roles/slapd/ldap-schema.rst
  docs/ansible/roles/slapd/slapd-overlays.rst
Labels: change, status: completed, tag: LDAP

#1471 [dhcpd] Rewrite large parts of the role
  CHANGELOG.rst
  ansible/playbooks/service/dhcpd.yml
  ansible/roles/dhcpd/COPYRIGHT
  ansible/roles/dhcpd/defaults/main.yml
  ansible/roles/dhcpd/handlers/main.yml
  ansible/roles/dhcpd/meta/main.yml
  ansible/roles/dhcpd/tasks/dist_vars.yml
  ansible/roles/dhcpd/tasks/install.yml
  ansible/roles/dhcpd/tasks/main.yml
  ansible/roles/dhcpd/templates/etc/ansible/facts.d/dhcpd.fact.j2
  ansible/roles/dhcpd/templates/etc/default/isc-dhcp-server.j2
  ansible/roles/dhcpd/templates/etc/dhcp/ansible_failovers.conf.j2
  ansible/roles/dhcpd/templates/etc/dhcp/ansible_ipxe.conf.j2
  ansible/roles/dhcpd/templates/etc/dhcp/ansible_keys.conf.j2
  ansible/roles/dhcpd/templates/etc/dhcp/ansible_zones.conf.j2
  ansible/roles/dhcpd/templates/etc/dhcp/auto_options.j2
  ansible/roles/dhcpd/templates/etc/dhcp/dhcpd.conf.j2
  ansible/roles/dhcpd/templates/etc/dhcp/macro_class.j2
  ansible/roles/dhcpd/templates/etc/dhcp/macro_group.j2
  ansible/roles/dhcpd/templates/etc/dhcp/macro_host.j2
  ansible/roles/dhcpd/templates/etc/dhcp/macro_pool.j2
  ansible/roles/dhcpd/templates/etc/dhcp/macro_shared_network.j2
  ansible/roles/dhcpd/templates/etc/dhcp/macro_subnet.j2
  ansible/roles/dhcpd/vars/Alpine.yml
  ansible/roles/dhcpd/vars/Archlinux.yml
  ansible/roles/dhcpd/vars/Debian.yml
  ansible/roles/dhcpd/vars/RedHat.yml
  ansible/roles/dhcpd/vars/default.yml
  ansible/roles/dhcpd/vars/main.yml
  ansible/roles/global_handlers/handlers/dhcpd.yml
  ansible/roles/global_handlers/handlers/main.yml
  docs/ansible/roles/dhcpd/defaults-detailed.rst
  docs/ansible/roles/dhcpd/getting-started.rst
  docs/ansible/roles/dhcpd/man_description.rst
  docs/news/upgrades.rst
Labels: change, status: completed, tag: DHCP

#1533 [fhs] Create '/srv/www' directory by default
  CHANGELOG.rst
  ansible/roles/fhs/defaults/main.yml
  docs/ansible/roles/fhs/defaults-detailed.rst
  docs/ansible/roles/users/defaults-detailed.rst
Labels: change, status: completed
