Repository debops/debops, pull requests merged in 2020-12, with the labels that each got.

#1531 [gitlab_runner] add runner pre/post scripts in config.toml
  ansible/roles/gitlab_runner/templates/etc/gitlab-runner/config.toml.j2
Labels: new feature, status: completed, tag: GitLab

#1534 [gitlab_runner] add new options for docker executor
  ansible/roles/gitlab_runner/templates/etc/gitlab-runner/config.toml.j2
Labels: new feature, status: completed, tag: GitLab

#1536 [postgresql_server] Update postgresql.conf template to only select wal_keep_segments up to postgres 13
  ansible/roles/postgresql_server/templates/etc/postgresql/postgresql.conf.j2
Labels: bug, status: completed, tag: PostgreSQL

#1537 [nginx] Default template preserve support < 1.7.5
  ansible/roles/nginx/templates/etc/nginx/sites-available/default.conf.j2
Labels: bug, tag: nginx, tag: webserver

#1538 [fcgiwrap] Fix AnsibleFilterError in check mode
  CHANGELOG.rst
  ansible/roles/fcgiwrap/tasks/main.yml
Labels: bug, status: completed

#1539 [grub] Also output to VGA when ttyS0 is in use
  CHANGELOG.rst
  ansible/roles/grub/defaults/main.yml
Labels: change, status: completed

#1540 Mount reload remote fs
  ansible/roles/nfs/tasks/main.yml
  docs/ansible/roles/nfs/defaults-detailed.rst
Labels: change, status: completed, tag: NFS

#1543 [iscsi] Provide default for discovered_portals
  CHANGELOG.rst
  ansible/roles/iscsi/tasks/main.yml
Labels: bug, status: completed

#1545 Add imre@ciphermail.com to .mailmap
  .mailmap
Labels: meta, status: completed

#1546 [opendkim] Remove dependency on pyOpenSSL
  CHANGELOG.rst
  Dockerfile
  INSTALL.rst
  PKGBUILD
  Vagrantfile
  docs/ansible/roles/opendkim/defaults-detailed.rst
  setup.py
Labels: change, status: completed, tag: security

#1547 [lvm] Fix check mode bug in fs creation task
  CHANGELOG.rst
  ansible/roles/lvm/tasks/manage_lvm.yml
Labels: bug, status: completed, tag: LVM

#1548 [lvm] Mount LVM volumes by default
  CHANGELOG.rst
  ansible/roles/lvm/tasks/manage_lvm.yml
  docs/news/upgrades.rst
Labels: change, status: completed, tag: LVM

#1549 [docs] Document missing default variable params
  docs/ansible/roles/pki/defaults-detailed.rst
Labels: documentation, status: completed, tag: PKI

#1550 [php] Document pm_status and pm_status_path fields
  docs/ansible/roles/php/defaults-detailed.rst
Labels: documentation, status: completed, tag: PHP

#1551 do not create home dir for snmpd
  ansible/roles/snmpd/tasks/main.yml
Labels: change, status: completed

#1554 mount role: restart remote-fs.target if automount option
  ansible/roles/mount/tasks/main.yml
Labels: new feature, status: completed

#1556 [postfix] [bugfix] /etc/postfix/lookup_table.j2 and postfix facts
  ansible/roles/postfix/templates/etc/ansible/facts.d/postfix.fact.j2
  ansible/roles/postfix/templates/etc/postfix/lookup_table.j2
Labels: change, status: completed, tag: mail services

#1557 Fix NetBox upgrade; Improvements in various roles
  CHANGELOG.rst
  ansible/roles/docker_registry/defaults/main.yml
  ansible/roles/docker_server/COPYRIGHT
  ansible/roles/docker_server/defaults/main.yml
  ansible/roles/docker_server/meta/main.yml
  ansible/roles/ferm/templates/etc/ferm/ferm.d/masquerade.conf.j2
  ansible/roles/ferm/templates/etc/ferm/rules.d/rule.conf.j2
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/meta/watch-netbox
  ansible/roles/netbox/tasks/main.yml
  ansible/roles/neurodebian/defaults/main.yml
  ansible/roles/python/defaults/main.yml
  ansible/roles/secret/defaults/main.yml
  docs/ansible/roles/docker_registry/getting-started.rst
  docs/ansible/roles/owncloud/getting-started.rst
Labels: change, status: completed, tag: Docker, tag: Python, tag: firewall

#1563 [docker_server] Change when virtualenv is created
  CHANGELOG.rst
  ansible/roles/docker_server/defaults/main.yml
Labels: change, status: completed, tag: Docker

#1566 [etckeeper] Install etckeeper from backports
  CHANGELOG.rst
  ansible/playbooks/service/etckeeper.yml
  ansible/roles/etckeeper/defaults/main.yml
  docs/ansible/roles/etckeeper/getting-started.rst
Labels: change, status: completed

#1567 Add apache config to monit defaults
  ansible/roles/monit/defaults/main.yml
Labels: new feature, status: completed, tag: monitoring, tag: webserver

#1569 New logo: Source files and derived assets
  .reuse/dep5
  docs/_static/favicon.ico
  docs/_static/images/debops-small.png
  docs/index.rst
  docs/meta/logo.rst
  lib/images/Makefile
  lib/images/debops-small.png
  lib/images/debops-small.svg
  lib/images/debops-text.png
  lib/images/debops.png
  lib/images/debops.svg
  lib/images/favicon.ico
  lib/images/src/debops-small-src.svg
  lib/images/src/debops-src.svg
Labels: documentation, priority: high

#1570 Add debian bullseye to php list
  ansible/roles/php/defaults/main.yml
Labels: change, status: completed, tag: PHP

#1322 dovecot - add checkpassword auth
  ansible/roles/dovecot/defaults/main.yml
  ansible/roles/dovecot/tasks/main.yml
  ansible/roles/dovecot/templates/etc/dovecot/conf.d/10-auth.conf.j2
  ansible/roles/dovecot/templates/etc/dovecot/conf.d/auth-checkpassword.conf.ext.j2
Labels: new feature, priority: medium, tag: mail services

#1572 [nginx] Do not gzip text/vcard MIME types
  CHANGELOG.rst
  ansible/roles/nginx/defaults/main.yml
Labels: change, status: completed, tag: nginx, tag: security

#1574 monit code style update and update the structure of the CODEOWNERS file
  CODEOWNERS
  ansible/roles/monit/defaults/main.yml
  docs/ansible/role-index.rst
Labels: internal, status: completed

#1575 Fix broken CI build (REUSE compliance)
  ansible/roles/dovecot/defaults/main.yml
  ansible/roles/dovecot/templates/etc/dovecot/conf.d/auth-checkpassword.conf.ext.j2
Labels: internal, status: completed

#1582 Update to NetBox 2.10.1 and fix issue with "Perform database installation or migration"
  CHANGELOG.rst
  ansible/roles/netbox/COPYRIGHT
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/meta/watch-netbox
  ansible/roles/netbox/tasks/main.yml
Labels: bug, status: completed, tag: version upgrade

#1584 [gitlab] Bugfix: Set redis-server.service in Wants section
  ansible/roles/gitlab/templates/etc/systemd/system/gitlab-gitaly.service.j2
  ansible/roles/gitlab/templates/etc/systemd/system/gitlab-sidekiq.service.j2
  ansible/roles/gitlab/templates/etc/systemd/system/gitlab-unicorn.service.j2
  ansible/roles/gitlab/templates/etc/systemd/system/gitlab.slice.j2
Labels: change, status: completed, tag: GitLab
