Repository debops/debops, pull requests merged in 2020-04, with the labels that each got.

#1314 [nullmailer] Make nullmailer-smtpd dual stacked
  CHANGELOG.rst
  ansible/roles/nullmailer/defaults/main.yml
  ansible/roles/nullmailer/tasks/main.yml
  ansible/roles/nullmailer/templates/etc/xinetd.d/nullmailer-smtpd6.j2
Labels: change, priority: medium, status: completed

#1313 mosquitto: Ignore meta variables for bridge file generation
  ansible/roles/mosquitto/templates/etc/mosquitto/conf.d/bridge.conf.j2
Labels: change, priority: medium, status: completed

#1311 Add missing PKI hooks for dovecot and postfix
  ansible/roles/dovecot/defaults/main.yml
  ansible/roles/dovecot/tasks/main.yml
  ansible/roles/dovecot/templates/etc/pki/hooks/dovecot.j2
  ansible/roles/postfix/defaults/main.yml
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/postfix/templates/etc/pki/hooks/postfix.j2
Labels: new feature, priority: medium, status: completed, tag: PKI, tag: mail services, tag: nginx

#1317 [cron] Ensure enironment name & value is a list
  ansible/roles/cron/tasks/main.yml
Labels: bug, priority: medium, status: completed

#1316 [gitlab_runner] Replace GitLab APT repo key
  CHANGELOG.rst
  ansible/roles/gitlab_runner/defaults/main.yml
Labels: change, status: completed, tag: GitLab, tag: upkeep

#1321 Add usedns parameter with default Debian's value
  ansible/roles/fail2ban/defaults/main.yml
  ansible/roles/fail2ban/templates/etc/fail2ban/jail.local.d/default.local.j2
Labels: new feature, status: completed, tag: firewall

#1325 Bugfixes and improvements in Ansible Collection generation
  CHANGELOG.rst
  lib/ansible-galaxy/make-collection
Labels: bug, status: completed, tag: Ansible Collection
