Repository debops/debops, pull requests merged in 2020-02, with the labels that each got.

#1270 [slapd] Fix issue with duplicate DebOps OIDs
  CHANGELOG.rst
  ansible/roles/slapd/defaults/main.yml
  ansible/roles/slapd/files/etc/ldap/schema/debops/debops.schema
  ansible/roles/slapd/files/etc/ldap/schema/debops/mailservice.schema
  ansible/roles/slapd/files/etc/ldap/schema/debops/posixgroupid.schema
  docs/ansible/roles/slapd/ldap-dit.rst
  docs/ansible/roles/slapd/ldap-schema.rst
  docs/meta/debops-oid-registry.rst
Labels: change, priority: high, tag: LDAP

#1271 Fix typo
  ansible/roles/docker_registry/defaults/main.yml
Labels: documentation, status: completed

#1269 Add influxdata role
  .gitlab-ci.yml
  ansible/playbooks/service/influxdata.yml
  ansible/playbooks/srv/all.yml
  ansible/playbooks/srv/influxdata.yml
  ansible/roles/influxdata/COPYRIGHT
  ansible/roles/influxdata/defaults/main.yml
  ansible/roles/influxdata/meta/main.yml
  ansible/roles/influxdata/tasks/main.yml
  ansible/roles/influxdata/templates/etc/ansible/facts.d/influxdata.fact.j2
  docs/ansible/role-index.rst
  docs/ansible/roles/influxdata/getting-started.rst
  docs/ansible/roles/influxdata/index.rst
  docs/ansible/roles/influxdata/man_description.rst
  docs/ansible/roles/influxdata/man_index.rst
  docs/ansible/roles/influxdata/man_synopsis.rst
  docs/includes/global.rst
Labels: new feature, priority: medium, tag: in progress

#1272 [postgresql_server] Fix errors in autopostgresqlbackup
  ansible/roles/postgresql_server/templates/usr/sbin/autopostgresqlbackup.j2
Labels: change, priority: medium, tag: PostgreSQL, tag: backup, tag: database

#1277 [ferm] Fix incorrect removal of avahi rule
  CHANGELOG.rst
  ansible/roles/ferm/defaults/main.yml
Labels: bug, status: completed, tag: firewall

#1278 [postgresql_server] Support custom log directories
  ansible/roles/postgresql_server/defaults/main.yml
  ansible/roles/postgresql_server/tasks/main.yml
  ansible/roles/postgresql_server/tasks/manage_clusters.yml
Labels: change, status: completed, tag: PostgreSQL, tag: database, tag: logging

#1279 Fix prosody pki hook.
  ansible/roles/prosody/templates/etc/pki/hooks/prosody.j2
Labels: change, priority: medium, tag: PKI
