Repository debops/debops, pull requests merged in 2020-05, with the labels that each got.

#1328 Various improvements in LXC and LXD support
  CHANGELOG.rst
  ansible/playbooks/service/lxc.yml
  ansible/playbooks/service/lxd.yml
  ansible/roles/lxc/defaults/main.yml
  ansible/roles/lxd/defaults/main.yml
  ansible/roles/lxd/meta/watch-lxd
  docs/ansible/roles/lxc/getting-started.rst
  docs/ansible/roles/lxd/getting-started.rst
Labels: change, status: completed, tag: containers, tag: version upgrade

#1330 [roundcube] Update installed release to v1.4.4
  CHANGELOG.rst
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/roundcube/meta/watch-roundcubemail
Labels: change, status: completed, tag: mail services, tag: version upgrade

#1331 Migrate custom Ansible plugins to central location
  CHANGELOG.rst
  ansible/roles/ansible_plugins/filter_plugins/etc_aliases__parse_recipients.py
  ansible/roles/ansible_plugins/library/cran.py
  ansible/roles/cran/library/__init__.py
  ansible/roles/cran/tasks/main.yml
  ansible/roles/etc_aliases/tasks/main.yml
  lib/ansible-galaxy/make-collection
Labels: change, status: completed, tag: Ansible Collection, tag: upkeep

#1332 Updates to Golang and GitLab roles, switch GitLab to v12.10
  .gitlab-ci.yml
  CHANGELOG.rst
  ansible/roles/gitlab/defaults/main.yml
  ansible/roles/gitlab/meta/watch-gitlab
  ansible/roles/gitlab/tasks/main_env.yml
  ansible/roles/gitlab/templates/var/local/git/gitaly/config.toml.j2
  ansible/roles/golang/defaults/main.yml
  ansible/roles/golang/templates/etc/ansible/facts.d/golang.fact.j2
Labels: change, status: completed, tag: GitLab, tag: version upgrade

#1334 [gitlab] Use 'structure.sql' to init database
  ansible/roles/gitlab/tasks/configure_gitlab_ce.yml
Labels: change, status: completed, tag: GitLab

#1336 Small fixes in GitLab CI environment
  .gitlab-ci.yml
  lib/tests/ansible.cfg
Labels: change, status: completed, tag: Continuous Integration

#1333 [lxc] Fix typo in condition code
  ansible/roles/journald/defaults/main.yml
  ansible/roles/lxc/defaults/main.yml
Labels: bug, status: completed, tag: containers

#1337 Ignore empty or missing Ansible inventory groups
  CHANGELOG.rst
  Makefile
  bin/debops-init
  lib/tests/ansible.cfg
Labels: change, status: completed

#1339 [ipxe] Update Debian Buster installer to v10.4
  CHANGELOG.rst
  ansible/roles/ipxe/defaults/main.yml
Labels: change, status: completed, tag: upkeep

#1340 Fix issue #1338 - debops-defaults failed if command 'view' not exist
  debops/cmds/__init__.py
Labels: bug, priority: medium

#1342 [rsyslog] Refresh of the 'debops.rsyslog' role
  CHANGELOG.rst
  ansible/plugins/connection_plugins/lxc_ssh.py
  ansible/roles/rsyslog/COPYRIGHT
  ansible/roles/rsyslog/defaults/main.yml
  ansible/roles/rsyslog/handlers/main.yml
  ansible/roles/rsyslog/tasks/main.yml
  ansible/roles/rsyslog/templates/etc/ansible/facts.d/rsyslog.fact.j2
  ansible/roles/rsyslog/templates/etc/rsyslog.conf.j2
  ansible/roles/rsyslog/templates/etc/rsyslog.d/rules.conf.j2
  ansible/roles/rsyslog/templates/etc/rsyslog.d/template.conf.j2
  docs/_lib/yaml2rst/func.py
  docs/ansible/roles/rsyslog/defaults-detailed.rst
  docs/ansible/roles/rsyslog/getting-started.rst
Labels: change, status: completed, tag: logging

#1344 [bin/debops-init] fix project paths in .gitignore and .gitattributes
  bin/debops-init
Labels: change, priority: medium, status: completed

#1282 Add [debops.influxdb_server] and [debops.influxdb] roles
  .gitlab-ci.yml
  ansible/playbooks/service/influxdb.yml
  ansible/playbooks/service/influxdb_server.yml
  ansible/playbooks/srv/all.yml
  ansible/playbooks/srv/influxdb.yml
  ansible/playbooks/srv/influxdb_server.yml
  ansible/roles/influxdb/COPYRIGHT
  ansible/roles/influxdb/defaults/main.yml
  ansible/roles/influxdb/meta/main.yml
  ansible/roles/influxdb/tasks/main.yml
  ansible/roles/influxdb/tasks/manage_contents.yml
  ansible/roles/influxdb/templates/etc/ansible/facts.d/influxdb.fact.j2
  ansible/roles/influxdb_server/COPYRIGHT
  ansible/roles/influxdb_server/defaults/main.yml
  ansible/roles/influxdb_server/files/usr/sbin/autoinfluxdbbackup
  ansible/roles/influxdb_server/handlers/main.yml
  ansible/roles/influxdb_server/meta/main.yml
  ansible/roles/influxdb_server/tasks/autoinfluxdbbackup.yml
  ansible/roles/influxdb_server/tasks/main.yml
  ansible/roles/influxdb_server/templates/etc/ansible/facts.d/influxdb.fact.j2
  ansible/roles/influxdb_server/templates/etc/ansible/facts.d/influxdb_server.fact.j2
  ansible/roles/influxdb_server/templates/etc/cron.daily/autoinfluxdbbackup.j2
  ansible/roles/influxdb_server/templates/etc/default/autoinfluxdbbackup.j2
  ansible/roles/influxdb_server/templates/etc/influxdb/influxdb.conf.j2
  docs/ansible/role-index.rst
  docs/ansible/roles/influxdb/defaults-detailed.rst
  docs/ansible/roles/influxdb/getting-started.rst
  docs/ansible/roles/influxdb/index.rst
  docs/ansible/roles/influxdb_server/defaults-detailed.rst
  docs/ansible/roles/influxdb_server/getting-started.rst
  docs/ansible/roles/influxdb_server/index.rst
Labels: new feature, priority: high, tag: InfluxData, tag: in progress, tag: monitoring

#1345 [journald] Don't enable persistent logs by default
  CHANGELOG.rst
  ansible/roles/journald/defaults/main.yml
  docs/ansible/roles/journald/getting-started.rst
Labels: change, status: completed, tag: logging

#1348 Small enhancements in various roles
  ansible/roles/postfix/defaults/main.yml
  ansible/roles/rsyslog/defaults/main.yml
Labels: change, status: completed, tag: logging, tag: mail services

#1349 Replace include with import_playbook in project directories user guide
  docs/user-guide/project-directories.rst
Labels: documentation, status: completed

#1350 Relax mount device fstype check
  ansible/roles/mount/tasks/main.yml
Labels: change, status: completed
