Repository debops/debops, pull requests merged in 2020-09, with the labels that each got.

#1498 Add optional condition for CustomLog.
  ansible/roles/apache/templates/etc/apache2/sites-available/default.conf.j2
  docs/ansible/roles/apache/defaults-detailed.rst
Labels: new feature, status: completed, tag: webserver

#1499 Add support for next UID/GID tracking in LDAP environment
  CHANGELOG.rst
  ansible/playbooks/ldap/init-directory.yml
  ansible/roles/slapd/defaults/main.yml
  ansible/roles/slapd/files/etc/ldap/schema/debops/nextuidgid.schema
  docs/ansible/roles/ldap/ldap-posix.rst
  docs/ansible/roles/slapd/ldap-acl.rst
  docs/ansible/roles/slapd/ldap-schema.rst
Labels: new feature, status: completed, tag: LDAP

#1500 [LDAP] Fix 'nextuidgid.schema' OID number
  ansible/roles/slapd/files/etc/ldap/schema/debops/nextuidgid.schema
  docs/meta/debops-oid-registry.rst
Labels: bug, status: completed, tag: LDAP

#1501 Add FreeRADIUS LDAP schema files
  CHANGELOG.rst
  ansible/roles/slapd/defaults/main.yml
  ansible/roles/slapd/files/etc/ldap/schema/debops/freeradius-client.schema
  ansible/roles/slapd/files/etc/ldap/schema/debops/freeradius-dhcpv4.schema
  ansible/roles/slapd/files/etc/ldap/schema/debops/freeradius-dhcpv6.schema
  ansible/roles/slapd/files/etc/ldap/schema/debops/freeradius-profile.schema
  ansible/roles/slapd/files/etc/ldap/schema/debops/freeradius-radacct.schema
  ansible/roles/slapd/files/etc/ldap/schema/debops/freeradius.schema
  docs/ansible/roles/slapd/ldap-dit.rst
  docs/ansible/roles/slapd/ldap-schema.rst
Labels: new feature, status: completed, tag: LDAP

#1503 [slapd] Make standalone RADIUS objects connectable
  ansible/roles/slapd/files/etc/ldap/schema/debops/freeradius-client.schema
  ansible/roles/slapd/files/etc/ldap/schema/debops/freeradius-profile.schema
Labels: change, status: completed, tag: LDAP

#1504 Update debops/ansible/roles/logrotate/tasks/main.yml
  ansible/roles/logrotate/tasks/main.yml
Labels: bug, priority: high, tag: logging

#1510 [sysctl] Add a way to enable/disable the role
  CHANGELOG.rst
  ansible/roles/sysctl/defaults/main.yml
  ansible/roles/sysctl/tasks/main.yml
  ansible/roles/sysctl/templates/etc/ansible/facts.d/sysctl.fact.j2
Labels: change, status: completed

#1512 [docker_gen] Use Go template syntax for header
  ansible/roles/docker_gen/files/usr/local/lib/templates/nginx-upstreams.conf.tmpl
Labels: bug, status: completed, tag: Docker, tag: webserver

#1523 [mariadb] Percona is split into several APT repos
  CHANGELOG.rst
  ansible/roles/mariadb/defaults/main.yml
  ansible/roles/mariadb_server/defaults/main.yml
Labels: change, status: completed, tag: database, tag: version upgrade

#1517 [lvm] Add default configuration for Debian 9 & 10
  CHANGELOG.rst
  ansible/roles/lvm/vars/lvm_config_2.02.168.yml
  ansible/roles/lvm/vars/lvm_config_2.03.02.yml
  ansible/roles/lvm/vars/lvm_config_debian.yml
  ansible/roles/lvm/vars/lvm_config_debian_buster.yml
  ansible/roles/lvm/vars/lvm_config_debian_stretch.yml
  ansible/roles/lvm/vars/lvm_config_default.yml
Labels: change, status: completed
