Repository debops/debops, pull requests merged in 2021-06, with the labels that each got.

#1723 Fix expected token err '','', got ''integer''.
  ansible/roles/ifupdown/tasks/main.yml
Labels: bug, status: completed, tag: networking

#1720 [opendkim] Restore compatibility with Ansible < 2.10
  CHANGELOG.rst
  ansible/roles/opendkim/tasks/main.yml
  docs/ansible/roles/opendkim/defaults-detailed.rst
Labels: change, status: completed, tag: mail services

#1719 Tinc filter host
  ansible/roles/tinc/templates/etc/tinc/network/tinc-up.j2
Labels: change, status: completed, tag: networking

#1705 LXC-4.x: do not drop sys_admin capability
  ansible/roles/lxc/defaults/main.yml
  ansible/roles/lxc/tasks/main.yml
Labels: change, priority: medium, tag: containers, tag: upkeep

#1728 Update mailmap details and the release schedule
  .mailmap
  docs/news/releases.rst
Labels: documentation, status: completed

#1730 [system_users] Use Python 3 exclusivly @ localhost
  CHANGELOG.rst
  ansible/roles/system_users/files/script/getent_passwd.py2
  ansible/roles/system_users/tasks/main.yml
Labels: bug, status: completed, tag: Ansible facts, tag: Python

#1732 [netbase] Make the fact script more resilient
  CHANGELOG.rst
  ansible/roles/netbase/templates/etc/ansible/facts.d/netbase.fact.j2
Labels: bug, status: completed, tag: Ansible facts, tag: DNS

#1734 [nginx] Always allow access to ACME challenge dir
  CHANGELOG.rst
  ansible/roles/nginx/templates/etc/nginx/snippets/acme-challenge.conf.j2
Labels: change, status: completed, tag: Let's Encrypt/ACME, tag: nginx

#1735 [kmod] Handle lack of 'lsmod' gracefully in facts
  CHANGELOG.rst
  ansible/roles/kmod/templates/etc/ansible/facts.d/kmod.fact.j2
Labels: bug, status: completed, tag: Ansible facts, tag: kernel

#1739 [postldap] Change LDAP lookup tables
  CHANGELOG.rst
  ansible/roles/postldap/defaults/main.yml
Labels: change, status: completed, tag: LDAP, tag: mail services

#1737 [apt_cacher_ng] No longer create NGINX webroot
  CHANGELOG.rst
  ansible/roles/apt_cacher_ng/defaults/main.yml
Labels: change, status: completed

#1747 Update Debian Buster release, switch default keyserver
  CHANGELOG.rst
  ansible/roles/hashicorp/defaults/main.yml
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/ipxe/meta/watch-firmware-buster
  ansible/roles/ipxe/meta/watch-netboot-buster
  ansible/roles/keyring/defaults/main.yml
  ansible/roles/owncloud/defaults/main.yml
  docs/ansible/roles/hashicorp/security.rst
  docs/ansible/roles/keyring/getting-started.rst
  docs/includes/global.rst
Labels: change, status: completed, tag: security, tag: version upgrade

#1748 Use keyserver.ubuntu.com by default to avoid issues
  CHANGELOG.rst
  ansible/roles/hashicorp/defaults/main.yml
  ansible/roles/keyring/defaults/main.yml
  ansible/roles/owncloud/defaults/main.yml
  docs/ansible/roles/hashicorp/security.rst
  docs/ansible/roles/keyring/getting-started.rst
  lib/ansible-galaxy/make-collection
Labels: change, status: completed, tag: security

#1749 [rsyslog] Re-enable streamDriverPermittedPeers
  CHANGELOG.rst
  ansible/roles/rsyslog/defaults/main.yml
  docs/ansible/roles/rsyslog/defaults-detailed.rst
Labels: change, status: completed, tag: logging

#1751 Updates in documentation, fixed LXD build environment
  ansible/roles/lxd/defaults/main.yml
  docs/meta/community.rst
Labels: change, status: completed
