Repository debops/debops, pull requests merged in 2021-11, with the labels that each got.

#1907 Small tweaks in the 'apt' and 'sshd' roles
  ansible/roles/apt/tasks/main.yml
  ansible/roles/sshd/tasks/main.yml
Labels: bug, status: completed

#1912 [ci] DebOps is now an Ansible Collection
  lib/tests/ansible.cfg
Labels: change, status: completed, tag: Continuous Integration

#1914 [telegraf] Fix FQCN reference to 'to_toml' filter
  ansible/roles/telegraf/templates/etc/telegraf/telegraf.conf.j2
  ansible/roles/telegraf/templates/etc/telegraf/telegraf.d/plugin.conf.j2
Labels: bug, status: completed, tag: Ansible Collection

#1921 [docs] Add note about UI changes in master branch
  docs/conf.py
  docs/introduction/getting-started.rst
Labels: documentation, status: completed

#1941 Improve support for using DebOps monorepo as Ansible Collection
  INSTALL.rst
  ansible/collections/ansible_collections/debops/debops/galaxy.yml
  ansible/galaxy.yml
Labels: new feature, status: completed, tag: Ansible Collection

#1942 [ferm] Improve iptables backend management
  CHANGELOG.rst
  ansible/roles/ferm/defaults/main.yml
  ansible/roles/ferm/tasks/main.yml
Labels: change, status: completed, tag: firewall

#1938 [libvirtd] No longer add root to 'libvirt' group
  CHANGELOG.rst
  ansible/roles/libvirtd/defaults/main.yml
Labels: bug, status: completed, tag: virtualization

#1936 [sshd] Only create LDAP account when needed
  CHANGELOG.rst
  ansible/roles/sshd/defaults/main.yml
Labels: bug, status: completed, tag: SSH

#1933 Use admin email address facts from debops.core in more roles
  CHANGELOG.rst
  ansible/roles/machine/defaults/main.yml
  ansible/roles/unattended_upgrades/defaults/main.yml
  docs/news/upgrades.rst
Labels: change, status: completed

#1931 [grub] Enable serial console by default
  CHANGELOG.rst
  ansible/roles/grub/defaults/main.yml
Labels: change, status: completed, tag: provisioning

#1930 [docker_server] Enable live restore by default
  CHANGELOG.rst
  ansible/roles/docker_server/defaults/main.yml
Labels: change, status: completed, tag: Docker

#1928 [roundcube] Update Roundcube to 1.4.12
  CHANGELOG.rst
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/roundcube/meta/watch-roundcubemail
Labels: priority: high, status: completed, tag: mail services, tag: security, tag: version upgrade

#1924 NetBox upload fix, minor stuff
  CHANGELOG.rst
  ansible/roles/apt_proxy/files/usr/local/lib/get-reachable-apt-proxy
  ansible/roles/dropbear_initramfs/docs/getting-started.rst
  ansible/roles/dropbear_initramfs/meta/main.yml
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/tasks/main.yml
  docs/ansible/roles/kmod/defaults-detailed.rst
Labels: change, priority: medium, status: completed

#1923 system_groups: add throttle variable
  ansible/roles/system_groups/defaults/main.yml
  ansible/roles/system_groups/tasks/main.yml
Labels: new feature, priority: medium, status: completed

#1919 [postfix] Put all milter_* parameters in the right section
  ansible/roles/postfix/templates/lookup/postfix__init_maincf.j2
Labels: change, priority: medium, status: completed, tag: mail services

#1905 [sshd] Increase LoginGraceTime to 60s
  CHANGELOG.rst
  ansible/roles/sshd/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: SSH

#1944 Fix issues detected by 'ansible-lint' related to Ansible Collections
  ansible/collections/ansible_collections/debops/debops/galaxy.yml
  ansible/roles/etc_services/tasks/main.yml
  ansible/roles/foodsoft/docs/playbooks/foodsoft.yml
  ansible/roles/fuse/tasks/main.yml
  ansible/roles/kmod/tasks/main.yml
  ansible/roles/libvirt/tasks/manage_networks.yml
  ansible/roles/mariadb/tasks/manage_contents.yml
  ansible/roles/mount/tasks/main.yml
  ansible/roles/opendkim/tasks/main.yml
  ansible/roles/postgresql/tasks/main.yml
  ansible/roles/postgresql_server/tasks/secure_installation.yml
  ansible/roles/rabbitmq_server/tasks/main.yml
  ansible/roles/secret/tasks/main.yml
  ansible/roles/snapshot_snapper/tasks/main.yml
  ansible/roles/volkszaehler/docs/playbooks/volkszaehler.yml
  lib/ansible-galaxy/make-collection
  requirements.yml
Labels: change, status: completed, tag: Ansible Collection
