Repository debops/debops, pull requests merged in 2021-05, with the labels that each got.

#1650 [postldap] Use last mailservice schema
  ansible/roles/postldap/defaults/main.yml
  docs/ansible/roles/postldap/getting-started.rst
Labels: change, priority: high, tag: LDAP, tag: mail services

#1700 Use 'mailservice' LDAP schema in Postfix and Dovecot services
  CHANGELOG.rst
  ansible/roles/dovecot/defaults/main.yml
  ansible/roles/dovecot/templates/etc/dovecot/dovecot-ldap-userdb.conf.j2
  ansible/roles/postldap/defaults/main.yml
  docs/ansible/roles/postldap/getting-started.rst
Labels: change, status: completed, tag: LDAP, tag: mail services

#1702 Use 'ansible-lint' in autodetection mode
  .ansible-lint
  Makefile
Labels: change, status: completed, tag: Continuous Integration

#1703 [php] Use default list of packages if needed
  CHANGELOG.rst
  ansible/roles/php/defaults/main.yml
Labels: bug, status: completed, tag: PHP

#1707 Verify and document shared "control user" usage pattern
  ansible/roles/core/defaults/main.yml
  ansible/roles/ldap/defaults/main.yml
  ansible/roles/system_users/defaults/main.yml
  docs/ansible/roles/ldap/ldap-admin.rst
  docs/ansible/roles/system_users/control-user.rst
  docs/ansible/roles/system_users/index.rst
  docs/ansible/roles/system_users/man_index.rst
  docs/conf.py
  docs/introduction/getting-started.rst
Labels: documentation, status: completed

#1709 [postgresql] Don't use ';' in passwords
  ansible/roles/postgresql/defaults/main.yml
  ansible/roles/postgresql_server/defaults/main.yml
Labels: change, status: completed, tag: PostgreSQL

#1710 Small changes to improve support for Debian Bullseye
  CHANGELOG.rst
  ansible/roles/ferm/defaults/main.yml
  ansible/roles/ferm/tasks/main.yml
  ansible/roles/postgresql_server/defaults/main.yml
Labels: change, status: completed, tag: PostgreSQL, tag: firewall, tag: upkeep

#1699 add letsencrypt API V2 to pki role, add more information on usage out…
  ansible/roles/pki/defaults/main.yml
  ansible/roles/pki/files/usr/local/lib/pki/pki-realm
Labels: change, status: completed, tag: Let's Encrypt/ACME, tag: PKI

#1698 feat(owncloud): Add support for NC20; Drop NC19 and oC support
  CHANGELOG.rst
  ansible/roles/owncloud/defaults/main.yml
  ansible/roles/owncloud/meta/watch-nextcloud
  ansible/roles/owncloud/tasks/ldap.yml
  ansible/roles/owncloud/tasks/run_occ.yml
  ansible/roles/postgresql/tasks/main.yml
  docs/ansible/roles/owncloud/defaults-detailed.rst
  docs/ansible/roles/owncloud/getting-started.rst
Labels: change, priority: medium, tag: Nextcloud

#1711 [apache] Use 'dont-create' to not upload template.
  ansible/roles/apache/tasks/main.yml
Labels: bug, status: completed, tag: webserver

#1706 [mariadb_server] Allow excluding databases in backups
  ansible/roles/mariadb_server/defaults/main.yml
  ansible/roles/mariadb_server/templates/etc/default/automysqlbackup.j2
Labels: change, priority: medium, tag: MariaDB, tag: backup

#1713 add version detection for ansible 4 (changed format of --version output)
  bin/debops
Labels: change, status: completed

#1715 Add info about Matrix room, subreddit, fix ansible-lint issues
  ansible/roles/icinga_web/tasks/main.yml
  ansible/roles/influxdb/tasks/manage_contents.yml
  ansible/roles/influxdb_server/tasks/main.yml
  ansible/roles/phpmyadmin/tasks/main.yml
  ansible/roles/rabbitmq_server/tasks/main.yml
  ansible/roles/rails_deploy/tasks/database.yml
  ansible/roles/resources/tasks/main.yml
  ansible/roles/roundcube/tasks/configure_mysql.yml
  ansible/roles/roundcube/tasks/configure_postgresql.yml
  docs/meta/community.rst
Labels: documentation, status: completed

#1714 commit 77a4a86 from https://github.com/andreasscherbaum/ansible-lxc-ssh
  ansible/plugins/connection_plugins/lxc_ssh.py
  setup.cfg
Labels: change, status: completed, tag: version upgrade

#1716 [boxbackup] FIx issues found by ansible-lint
  CHANGELOG.rst
  ansible/roles/boxbackup/defaults/main.yml
  ansible/roles/boxbackup/templates/etc/boxbackup/bbackupd.conf.j2
  ansible/roles/boxbackup/templates/etc/boxbackup/bbstored.conf.j2
  ansible/roles/boxbackup/vars/main.yml
Labels: change, status: completed

#1721 [python] Don't enable Python 2.x automatically
  CHANGELOG.rst
  ansible/roles/python/defaults/main.yml
Labels: change, status: completed, tag: Python

#1722 [ferm] Disable mgmt of iptables backend on Stretch
  CHANGELOG.rst
  ansible/roles/ferm/defaults/main.yml
Labels: change, status: completed, tag: firewall
