Repository debops/debops, pull requests merged in 2021-01, with the labels that each got.

#1588 Update netboot and firmware version in ipxe role variables
  CHANGELOG.rst
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/ipxe/meta/watch-firmware-buster
  ansible/roles/ipxe/meta/watch-netboot-buster
Labels: change, priority: high, tag: version upgrade

#1589 opendkim: improved support for externally managed keys
  ansible/roles/opendkim/tasks/main.yml
  docs/ansible/roles/opendkim/defaults-detailed.rst
Labels: new feature, status: completed, tag: mail services

#1592 [roundcube] Update Roundcube version to 1.4.10
  CHANGELOG.rst
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/roundcube/meta/watch-roundcubemail
Labels: change, status: completed, tag: version upgrade

#1593 [owncloud] Add support for NC 19 and drop NC 18
  CHANGELOG.rst
  ansible/roles/owncloud/COPYRIGHT
  ansible/roles/owncloud/defaults/main.yml
  ansible/roles/owncloud/meta/watch-nextcloud
Labels: change, status: completed, tag: version upgrade

#1587 [icinga_web] add support for x509 module
  ansible/playbooks/service/icinga_web.yml
  ansible/roles/icinga_web/defaults/main.yml
  ansible/roles/icinga_web/tasks/main.yml
  ansible/roles/icinga_web/templates/etc/ansible/facts.d/icinga_web.fact.j2
Labels: new feature, status: completed, tag: PKI, tag: monitoring

#1599 Reorganization of the OpenLDAP directory structure and ACL tests
  CHANGELOG.rst
  ansible/playbooks/ldap/init-directory.yml
  ansible/roles/ldap/defaults/main.yml
  ansible/roles/slapd/defaults/main.yml
  ansible/roles/slapd/files/etc/ldap/schema/debops/orgstructure.schema
  ansible/roles/slapd/files/usr/local/sbin/slapd-snapshot
  ansible/roles/slapd/tasks/main.yml
  ansible/roles/slapd/tasks/slapd_tasks.yml
  docs/ansible/roles/ldap/getting-started.rst
  docs/ansible/roles/ldap/ldap-dit.rst
  docs/ansible/roles/ldap/ldap-posix.rst
  docs/ansible/roles/slapd/examples/multi-master-replication.yml
  docs/ansible/roles/slapd/guide-multi-master-replication.rst
  docs/ansible/roles/slapd/ldap-acl.rst
  docs/ansible/roles/slapd/ldap-dit.rst
  docs/ansible/roles/slapd/ldap-schema.rst
  docs/ansible/roles/sudo/getting-started.rst
  docs/meta/debops-oid-registry.rst
  docs/news/upgrades.rst
Labels: change, status: completed, tag: LDAP

#1602 [apt] Add APT architecture info in role facts
  CHANGELOG.rst
  ansible/roles/apt/templates/etc/ansible/facts.d/apt.fact.j2
Labels: new feature, status: completed

#1598 Fix netbox-rq service restart and maintenance
  .dockerignore
  .gitignore
  .reuse/dep5
  CHANGELOG.rst
  CODEOWNERS
  LICENSE
  MANIFEST.in
  README.md
  ansible/roles/netbox/COPYRIGHT
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/handlers/main.yml
  ansible/roles/netbox/meta/watch-netbox
  ansible/roles/netbox/tasks/main.yml
  ansible/roles/netbox/templates/usr/local/lib/netbox/configuration.py.j2
  debops/__init__.py
  docs/meta/goals.rst
  docs/meta/other-projects.rst
  docs/news/upgrades.rst
  lib/ansible-galaxy/make-collection
  setup.cfg
Labels: change, priority: high, tag: version upgrade

#1603 [ipxe] Update Buster iPXE firmware to 20210108
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/ipxe/meta/watch-firmware-buster
Labels: change, status: completed, tag: version upgrade

#1606 Fix for NetBox supperuser account creation and small LDAP and mail cleanup
  CHANGELOG.rst
  ansible/roles/core/templates/etc/ansible/facts.d/core.fact.j2
  ansible/roles/dokuwiki/defaults/main.yml
  ansible/roles/icinga_web/defaults/main.yml
  ansible/roles/ldap/defaults/main.yml
  ansible/roles/librenms/tasks/main.yml
  ansible/roles/netbox/tasks/main.yml
  ansible/roles/opendkim/tasks/main.yml
  ansible/roles/postldap/defaults/main.yml
  ansible/roles/saslauthd/defaults/main.yml
  lib/tests/inventory/common/debops.json
Labels: bug, status: completed, tag: LDAP, tag: mail services

#1607 [journald] Create secret directories after facts
  ansible/roles/journald/tasks/main.yml
Labels: bug, status: completed, tag: Ansible facts, tag: logging

#1604 system_users: use correct variable to enable/disable ACLs
  ansible/roles/system_users/tasks/main.yml
Labels: bug, status: completed

#1605 etherpad: log to file by default
  ansible/roles/etherpad/defaults/main.yml
  ansible/roles/etherpad/templates/etc/systemd/system/etherpad-lite.service.j2
Labels: new feature, status: completed, tag: logging

#1611 [ldap] Make iface name matching configurable
  ansible/roles/ldap/defaults/main.yml
  ansible/roles/ldap/templates/lookup/ldap__device_ip_addresses.j2
  ansible/roles/ldap/templates/lookup/ldap__device_mac_addresses.j2
Labels: change, status: completed, tag: LDAP, tag: networking

#1612 Fixes for 'file' module issues
  ansible/roles/apache/tasks/main.yml
  ansible/roles/avahi/tasks/main.yml
Labels: change, status: completed, tag: upkeep

#1613 [lxd] Add GitHub GPG key to trusted keys
  CHANGELOG.rst
  ansible/roles/lxd/defaults/main.yml
  docs/ansible/roles/lxd/getting-started.rst
Labels: change, priority: high, tag: security

#1614 Fix issues with PostgreSQL server role not being idempotent
  .gitlab-ci.yml
  CHANGELOG.rst
  ansible/roles/postgresql_server/tasks/secure_installation.yml
Labels: change, status: completed, tag: PostgreSQL, tag: database

#1615 Fix cosmetic issues in Changelog, update contributor .mailmap
  .mailmap
  CHANGELOG.rst
Labels: documentation, status: completed

#1618 [python] Install 'python-pip' conditionally
  CHANGELOG.rst
  ansible/roles/python/defaults/main.yml
Labels: change, status: completed, tag: Python

#1619 Support GitHub actions
  .github/workflows/continuous-integration.yml
  .github/workflows/debops-ci-pipeline.yml
  .github/workflows/prepare-ci-pipeline/action.yml
  .github/workflows/super-linter.yml
  .travis.yml
  CHANGELOG.rst
  README.md
  docs/developer-guide/development-model.rst
  docs/index.rst
  lib/travis/ansible/before_install.sh
  lib/travis/ansible/install.sh
  lib/travis/ansible/script.sh
  lib/travis/build-sdist/before_install.sh
  lib/travis/build-sdist/install.sh
  lib/travis/build-sdist/script.sh
  lib/travis/build-wheel/before_install.sh
  lib/travis/build-wheel/install.sh
  lib/travis/build-wheel/script.sh
  lib/travis/collection/before_install.sh
  lib/travis/collection/install.sh
  lib/travis/collection/script.sh
  lib/travis/docker/before_install.sh
  lib/travis/docker/install.sh
  lib/travis/docker/script.sh
  lib/travis/docs/before_install.sh
  lib/travis/docs/install.sh
  lib/travis/docs/script.sh
  lib/travis/syntax/before_install.sh
  lib/travis/syntax/install.sh
  lib/travis/syntax/script.sh
  lib/travis/test/before_install.sh
  lib/travis/test/install.sh
  lib/travis/test/script.sh
Labels: change, status: completed, tag: Continuous Integration

#1621 [postfix] Disable rarely-used DSN and ETRN
  CHANGELOG.rst
  ansible/roles/postfix/defaults/main.yml
Labels: new feature, status: completed, tag: mail services

#1623 Update the DebOps release schedule
  docs/news/releases.rst
Labels: documentation, status: completed
