Repository debops/debops, pull requests merged in 2021-04, with the labels that each got.

#1670 Update netboot and firmware version in ipxe role variables
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/ipxe/meta/watch-firmware-buster
  ansible/roles/ipxe/meta/watch-netboot-buster
Labels: change, status: completed, tag: upkeep

#1675 [authorized_keys] Redesign SSH identity management
  CHANGELOG.rst
  ansible/roles/authorized_keys/defaults/main.yml
  ansible/roles/authorized_keys/tasks/main.yml
  ansible/roles/authorized_keys/templates/etc/ansible/facts.d/authorized_keys.fact.j2
  ansible/roles/authorized_keys/templates/lookup/authorized_keys__identities.j2
  docs/ansible/roles/authorized_keys/defaults-detailed.rst
  docs/ansible/roles/authorized_keys/examples/gitserve
  docs/news/upgrades.rst
Labels: change, status: completed, tag: security

#1673 Allow configuration of autopostgresql backup permissions
  ansible/roles/postgresql_server/defaults/main.yml
  ansible/roles/postgresql_server/templates/etc/default/autopostgresqlbackup.j2
  ansible/roles/postgresql_server/templates/usr/sbin/autopostgresqlbackup.j2
Labels: new feature, status: completed, tag: PostgreSQL, tag: backup, tag: database

#1674 [freeradius] minor changes related to install-eapol_test script
  docs/ansible/roles/freeradius/examples/eduroam/resources.yml
Labels: change, status: completed, tag: networking, tag: upkeep

#1676 Fix issue with 'parse_kv_config' filter incorrectly handling 'ignore' state
  CHANGELOG.rst
  ansible/roles/ansible_plugins/filter_plugins/debops_filter_plugins.py
Labels: bug, status: completed

#1677 Opt-out from the Federated Learning of Cohorts
  CHANGELOG.rst
  ansible/roles/apache/templates/etc/apache2/sites-available/default.conf.j2
  ansible/roles/nginx/templates/etc/nginx/sites-available/default.conf.j2
  docs/ansible/roles/apache/defaults-detailed.rst
  docs/ansible/roles/nginx/defaults-detailed.rst
Labels: change, status: completed, tag: nginx, tag: webserver

#1678 Refresh Elastic stack (Elasticsearch, Kibana, Filebeat)
  CHANGELOG.rst
  ansible/playbooks/service/elasticsearch.yml
  ansible/playbooks/service/filebeat.yml
  ansible/playbooks/service/kibana.yml
  ansible/roles/elasticsearch/defaults/main.yml
  ansible/roles/elasticsearch/tasks/main.yml
  ansible/roles/elasticsearch/templates/etc/ansible/facts.d/elasticsearch.fact.j2
  ansible/roles/elasticsearch/templates/etc/elasticsearch/elasticsearch.yml.j2
  ansible/roles/elasticsearch/templates/etc/elasticsearch/jvm.options.j2
  ansible/roles/filebeat/defaults/main.yml
  ansible/roles/filebeat/tasks/main.yml
  ansible/roles/filebeat/templates/etc/ansible/facts.d/filebeat.fact.j2
  ansible/roles/kibana/defaults/main.yml
  ansible/roles/kibana/tasks/main.yml
  ansible/roles/kibana/templates/etc/ansible/facts.d/kibana.fact.j2
  ansible/roles/kibana/templates/etc/kibana/kibana.yml.j2
  docs/ansible/roles/elasticsearch/defaults-detailed.rst
  docs/ansible/roles/elasticsearch/getting-started.rst
  docs/ansible/roles/filebeat/getting-started.rst
  docs/ansible/roles/kibana/defaults-detailed.rst
  docs/ansible/roles/kibana/getting-started.rst
Labels: change, status: completed, tag: Elastic, tag: version upgrade

#1680 use C locale for sudo call to fix comparison issue
  ansible/roles/sudo/templates/etc/ansible/facts.d/sudo.fact.j2
Labels: bug, status: completed, tag: Ansible facts

#1681 [sudo] Define fact environment properly
  ansible/roles/sudo/templates/etc/ansible/facts.d/sudo.fact.j2
Labels: bug, status: completed, tag: Ansible facts

#1685 [sudo] More Pythonic way to deal with locales
  ansible/roles/sudo/templates/etc/ansible/facts.d/sudo.fact.j2
Labels: change, status: completed, tag: Ansible facts

#1689 [hashicorp] Rotate upstream GPG key
  CHANGELOG.rst
  ansible/roles/hashicorp/defaults/main.yml
  docs/ansible/roles/hashicorp/security.rst
Labels: change, status: completed

#1682 [etckeeper] add automatic email on commit
  ansible/roles/etckeeper/defaults/main.yml
  ansible/roles/etckeeper/tasks/main.yml
  ansible/roles/etckeeper/templates/etc/etckeeper/commit.d/99email.j2
Labels: new feature, status: completed

#1690 [etckeeper] Better control over e-mail hook script
  ansible/roles/etckeeper/defaults/main.yml
  ansible/roles/etckeeper/tasks/main.yml
Labels: change, status: completed

#1692 [etckeeper] Clarify changed variable options
  ansible/roles/etckeeper/defaults/main.yml
Labels: documentation, status: completed

#1695 Fix various issues, improve Linux Mint compatibility
  CHANGELOG.rst
  ansible/roles/apt/defaults/main.yml
  ansible/roles/core/defaults/main.yml
  ansible/roles/core/templates/etc/ansible/facts.d/core.fact.j2
  ansible/roles/fhs/defaults/main.yml
  ansible/roles/nginx/templates/etc/nginx/sites-available/php.conf.j2
  ansible/roles/nginx/templates/etc/nginx/sites-available/php5.conf.j2
  ansible/roles/root_account/tasks/main.yml
  ansible/roles/system_users/tasks/main.yml
  ansible/roles/tcpwrappers/templates/etc/ansible/facts.d/tcpwrappers.fact.j2
  ansible/roles/users/tasks/main.yml
  ansible/roles/yadm/templates/etc/ansible/facts.d/yadm.fact.j2
Labels: change, status: completed, tag: Ansible facts, tag: PHP, tag: nginx

#1693 [pki] Perform multiple ACME request attempts
  CHANGELOG.rst
  ansible/roles/pki/files/usr/local/lib/pki/pki-realm
  docs/ansible/roles/pki/acme-integration.rst
Labels: bug, status: completed, tag: Let's Encrypt/ACME, tag: PKI

#1684 fix typo
  ansible/roles/lxc/tasks/main.yml
Labels: documentation, status: completed

#1686 [netbox] Upgrade to NetBox v2.11.1
  CHANGELOG.rst
  ansible/roles/netbox/COPYRIGHT
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/meta/main.yml
  ansible/roles/netbox/meta/watch-netbox
  ansible/roles/netbox/templates/usr/local/lib/netbox/configuration.py.j2
Labels: change, status: completed, tag: application, tag: networking, tag: version upgrade
