Repository debops/debops, pull requests merged in 2021-12, with the labels that each got.

#1947 [apt] Ignore debian-security mirror as APT source
  ansible/roles/apt/defaults/main.yml
Labels: bug, priority: high, status: completed

#1945 feat(owncloud): Upgrade to Nextcloud 21
  CHANGELOG.rst
  ansible/debops-contrib-playbooks/service/homeassistant-nginx.yml
  ansible/roles/homeassistant/defaults/main.yml
  ansible/roles/homeassistant/meta/main.yml
  ansible/roles/owncloud/defaults/main.yml
  ansible/roles/owncloud/tasks/run_occ.yml
  docs/ansible/roles/owncloud/getting-started.rst
Labels: change, priority: medium, status: completed, tag: security, tag: version upgrade, tag: Nextcloud

#1894 Java policy available starting ES 6
  ansible/roles/elasticsearch/tasks/main.yml
Labels: change, priority: medium, status: completed, tag: Elastic

#1892 Fix name of the scrape_yahoo script when called from cron
  ansible/roles/postwhite/tasks/main.yml
Labels: bug, priority: high, status: completed, tag: mail services

#1889 [wpcli] Dump versions from 2.3.0 to 2.5.0
  CHANGELOG.rst
  ansible/roles/wpcli/COPYRIGHT
  ansible/roles/wpcli/defaults/main.yml
  ansible/roles/wpcli/meta/main.yml
  ansible/roles/wpcli/meta/watch-wp-cli
Labels: change, priority: medium, status: completed, tag: version upgrade

#1880 update unattended upgrade reciepe for bullseye
  ansible/roles/unattended_upgrades/defaults/main.yml
Labels: change, priority: high, status: completed, tag: security

#1890 [dnmasq] Remove dvcpv6 tcp protocol from ferm
  ansible/roles/dnsmasq/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: DNS

#1879 apache cipher suites update based on nginx role
  ansible/roles/apache/defaults/main.yml
Labels: change, priority: high, status: completed, tag: webserver, tag: security

#1952 Redesign of the 'debops.reprepro' Ansible role, nginx improvements
  CHANGELOG.rst
  ansible/playbooks/service/reprepro.yml
  ansible/roles/nginx/defaults/main.yml
  ansible/roles/nginx/tasks/nginx_htpasswd.yml
  ansible/roles/nginx/templates/etc/nginx/sites-available/default.conf.j2
  ansible/roles/reprepro/COPYRIGHT
  ansible/roles/reprepro/defaults/main.yml
  ansible/roles/reprepro/meta/main.yml
  ansible/roles/reprepro/tasks/configure_gnupg.yml
  ansible/roles/reprepro/tasks/configure_inoticoming.yml
  ansible/roles/reprepro/tasks/configure_reprepro.yml
  ansible/roles/reprepro/tasks/main.yml
  ansible/roles/reprepro/tasks/main_env.yml
  ansible/roles/reprepro/tasks/reprepro_init.yml
  ansible/roles/reprepro/tasks/snapshot_gnupg.yml
  ansible/roles/reprepro/templates/etc/ansible/facts.d/reprepro.fact.j2
  ansible/roles/reprepro/templates/etc/default/inoticoming.j2
  ansible/roles/reprepro/templates/etc/systemd/system/reprepro-incoming@.path.j2
  ansible/roles/reprepro/templates/etc/systemd/system/reprepro-incoming@.service.j2
  ansible/roles/reprepro/templates/home/reprepro/gnupg-key-template.j2
  ansible/roles/reprepro/templates/home/reprepro/gnupg/gpg.conf.j2
  ansible/roles/reprepro/templates/home/reprepro/repositories/instance/conf/distributions.j2
  ansible/roles/reprepro/templates/home/reprepro/repositories/instance/conf/email-changes.sh.j2
  ansible/roles/reprepro/templates/home/reprepro/repositories/instance/conf/incoming.j2
  ansible/roles/reprepro/templates/home/reprepro/repositories/instance/conf/options.j2
  ansible/roles/reprepro/templates/home/reprepro/repositories/instance/conf/pulls.j2
  ansible/roles/reprepro/templates/home/reprepro/repositories/instance/conf/updates.j2
  ansible/roles/reprepro/templates/home/reprepro/repositories/instance/conf/uploaders/template.j2
  ansible/roles/reprepro/templates/lookup/reprepro__env_nginx_servers.j2
  ansible/roles/reprepro/templates/var/lib/reprepro/conf/distributions.j2
  ansible/roles/reprepro/templates/var/lib/reprepro/conf/incoming.j2
  ansible/roles/reprepro/templates/var/lib/reprepro/conf/options.j2
  ansible/roles/reprepro/templates/var/lib/reprepro/conf/pulls.j2
  ansible/roles/reprepro/templates/var/lib/reprepro/conf/updates.j2
  ansible/roles/reprepro/templates/var/lib/reprepro/conf/uploaders.j2
  ansible/roles/reprepro/templates/var/lib/reprepro/gnupg-key-template.j2
  docs/ansible/role-index.rst
  docs/ansible/roles/nginx/defaults-detailed.rst
  docs/ansible/roles/reprepro/defaults-detailed.rst
  docs/ansible/roles/reprepro/getting-started.rst
  docs/ansible/roles/reprepro/index.rst
  docs/ansible/roles/reprepro/man_description.rst
  docs/ansible/roles/reprepro/man_index.rst
  docs/ansible/roles/reprepro/man_synopsis.rst
Labels: change, status: completed, tag: nginx, tag: APT packages
