Repository debops/debops, pull requests merged in 2021-07, with the labels that each got.

#1756 Small improvements in LXC support
  CHANGELOG.rst
  ansible/roles/lxc/defaults/main.yml
  ansible/roles/lxc/files/usr/local/bin/lxc-new-unprivileged
  ansible/roles/lxc/files/usr/local/bin/lxc-prepare-ssh
  ansible/roles/lxc/tasks/main.yml
  docs/ansible/roles/lxc/getting-started.rst
Labels: change, status: completed, tag: LXC

#1757 [pki] Ensure that renewals include SubjectAltNames
  CHANGELOG.rst
  ansible/roles/pki/files/usr/local/lib/pki/pki-realm
Labels: bug, status: completed, tag: Let's Encrypt/ACME, tag: PKI

#1755 [lvm] Enable thinpool creation
  ansible/roles/lvm/defaults/main.yml
  ansible/roles/lvm/tasks/manage_lvm.yml
  docs/ansible/roles/lvm/defaults-detailed.rst
Labels: new feature, status: completed, tag: LVM

#1758 [system_users] Fix create_home parameter
  CHANGELOG.rst
  ansible/roles/system_users/tasks/main.yml
Labels: change, status: completed

#1761 [lvm] Allow custom lvcreate options
  CHANGELOG.rst
  ansible/roles/lvm/defaults/main.yml
  ansible/roles/lvm/tasks/manage_lvm.yml
  docs/ansible/roles/lvm/defaults-detailed.rst
Labels: new feature, status: completed, tag: LVM

#1753 Correct naming of sshd__register_host_certs var
  ansible/roles/sshd/templates/etc/ssh/sshd_config.j2
Labels: bug, status: completed, tag: SSH

#1764 Fix resolvconf fact script issues
  CHANGELOG.rst
  ansible/roles/resolvconf/templates/etc/ansible/facts.d/resolvconf.fact.j2
Labels: bug, status: completed, tag: DNS

#1767 Add minidlna role
  .gitlab-ci.yml
  CHANGELOG.rst
  ansible/playbooks/service/minidlna.yml
  ansible/playbooks/srv/all.yml
  ansible/playbooks/srv/minidlna.yml
  ansible/roles/minidlna/COPYRIGHT
  ansible/roles/minidlna/defaults/main.yml
  ansible/roles/minidlna/meta/main.yml
  ansible/roles/minidlna/tasks/main.yml
  ansible/roles/minidlna/templates/etc/ansible/facts.d/minidlna.fact.j2
  ansible/roles/minidlna/templates/etc/minidlna.conf.j2
  docs/ansible/roles/minidlna/defaults-detailed.rst
  docs/ansible/roles/minidlna/getting-started.rst
  docs/ansible/roles/minidlna/index.rst
  docs/ansible/roles/minidlna/man_description.rst
  docs/ansible/roles/minidlna/man_index.rst
  docs/ansible/roles/minidlna/man_synopsis.rst
Labels: new feature, status: completed

#1762 [docs] Add note to pki-realms.rst about DH params
  docs/ansible/roles/pki/pki-realms.rst
  docs/includes/global.rst
Labels: documentation, status: completed, tag: PKI
