Repository debops/debops, pull requests merged in 2022-02, with the labels that each got.

#1987 Small bugfixes
  ansible/roles/apt/defaults/main.yml
  src/debops/ansible/inventory.py
Labels: change, priority: medium, status: completed

#1986 [netbox] Added ssh key generation for napalm
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/tasks/main.yml
Labels: new feature, priority: medium, status: completed, tag: networking

#1984 Upgrade to Nextcloud 22 and add support for Nextcloud 23
  CHANGELOG.rst
  ansible/roles/owncloud/COPYRIGHT
  ansible/roles/owncloud/defaults/main.yml
  ansible/roles/owncloud/meta/watch-nextcloud
  docs/ansible/roles/owncloud/getting-started.rst
  docs/ansible/roles/owncloud/index.rst
  docs/ansible/roles/owncloud/role-development.rst
Labels: change, priority: medium, status: completed, tag: version upgrade, tag: Nextcloud

#1980 [users]: Fix always creating a home directory
  ansible/roles/users/tasks/main.yml
Labels: bug, priority: high, status: completed

#1977 [ldap] Some fixes to init-directory.yml for non-local admin user
  ansible/playbooks/ldap/init-directory.yml
Labels: bug, priority: medium, status: completed, tag: LDAP

#1976 [sshd] Improve LDAP bind password file generation
  ansible/roles/sshd/COPYRIGHT
  ansible/roles/sshd/defaults/main.yml
  ansible/roles/sshd/tasks/authorized_keys_lookup.yml
  ansible/roles/sshd/templates/etc/ssh/authorized_keys_lookup.d/ldap.j2
  ansible/roles/sshd/templates/etc/ssh/ldap_authorized_keys_bindpw.j2
Labels: change, priority: high, tag: LDAP, tag: SSH

#1972 [debops.nginx] Allow logging to socket
  ansible/roles/nginx/defaults/main.yml
  ansible/roles/nginx/templates/etc/nginx/nginx.conf.j2
  ansible/roles/nginx/templates/etc/nginx/sites-available/default.conf.j2
Labels: new feature, priority: medium, status: completed, tag: logging, tag: webserver, tag: nginx

#1956 [pdns] Add new role debops.pdns
  .gitlab-ci.yml
  CHANGELOG.rst
  ansible/playbooks/service/pdns-nginx.yml
  ansible/playbooks/service/pdns-plain.yml
  ansible/playbooks/service/pdns.yml
  ansible/playbooks/srv/all.yml
  ansible/playbooks/srv/pdns-nginx.yml
  ansible/playbooks/srv/pdns-plain.yml
  ansible/playbooks/srv/pdns.yml
  ansible/roles/global_handlers/handlers/main.yml
  ansible/roles/global_handlers/handlers/pdns.yml
  ansible/roles/pdns/COPYRIGHT
  ansible/roles/pdns/defaults/main.yml
  ansible/roles/pdns/meta/main.yml
  ansible/roles/pdns/tasks/init_postgresql.yml
  ansible/roles/pdns/tasks/main.yml
  ansible/roles/pdns/templates/etc/ansible/facts.d/pdns.fact.j2
  ansible/roles/pdns/templates/etc/powerdns/pdns.conf.j2
  docs/ansible/role-index.rst
  docs/ansible/roles/pdns/defaults-detailed.rst
  docs/ansible/roles/pdns/getting-started.rst
  docs/ansible/roles/pdns/index.rst
  docs/ansible/roles/pdns/man_description.rst
  docs/ansible/roles/pdns/man_index.rst
  docs/ansible/roles/pdns/man_synopsis.rst
Labels: new feature, priority: medium, status: completed, tag: DNS

#1988 [dhparam] Don't install cron service directly
  CHANGELOG.rst
  ansible/playbooks/service/dhparam.yml
  ansible/roles/dhparam/defaults/main.yml
Labels: change, priority: medium, status: completed

#1955 Debian Bullseye: dist-upgrade.yml, apt_cacher_ng
  CHANGELOG.rst
  ansible/playbooks/tools/dist-upgrade.yml
  ansible/roles/apt_cacher_ng/COPYRIGHT
  ansible/roles/apt_cacher_ng/meta/main.yml
  ansible/roles/apt_cacher_ng/tasks/state_present.yml
  ansible/roles/apt_cacher_ng/templates/etc/apt-cacher-ng/acng.conf.j2
  docs/ansible/roles/owncloud/man_description.rst
Labels: change, priority: medium, status: completed

#1954 [rspamd] Add new role
  ansible/playbooks/service/rspamd.yml
  ansible/playbooks/srv/all.yml
  ansible/playbooks/srv/rspamd.yml
  ansible/roles/global_handlers/handlers/main.yml
  ansible/roles/global_handlers/handlers/rspamd.yml
  ansible/roles/rspamd/COPYRIGHT
  ansible/roles/rspamd/defaults/main.yml
  ansible/roles/rspamd/files/usr/local/sbin/rspamd-dkim-keygen
  ansible/roles/rspamd/files/usr/local/sbin/rspamd-dkim-update
  ansible/roles/rspamd/tasks/main.yml
  ansible/roles/rspamd/tasks/main_cfgdir.yml
  ansible/roles/rspamd/tasks/main_dkim.yml
  ansible/roles/rspamd/templates/etc/ansible/facts.d/rspamd.fact.j2
  ansible/roles/rspamd/templates/etc/rspamd/dkim-json.j2
  ansible/roles/rspamd/templates/etc/rspamd/snippet.j2
  docs/ansible/role-index.rst
  docs/ansible/roles/rspamd/defaults-detailed.rst
  docs/ansible/roles/rspamd/getting-started.rst
  docs/ansible/roles/rspamd/index.rst
  docs/ansible/roles/rspamd/man_description.rst
  docs/ansible/roles/rspamd/man_index.rst
  docs/ansible/roles/rspamd/man_synopsis.rst
Labels: new feature, priority: medium, status: completed, tag: mail services

#1989 [logrotate] Don't install cron service directly
  CHANGELOG.rst
  ansible/playbooks/service/dokuwiki.yml
  ansible/playbooks/service/etesync.yml
  ansible/playbooks/service/etherpad.yml
  ansible/playbooks/service/freeradius.yml
  ansible/playbooks/service/gitlab.yml
  ansible/playbooks/service/gunicorn.yml
  ansible/playbooks/service/icinga_web.yml
  ansible/playbooks/service/librenms.yml
  ansible/playbooks/service/logrotate.yml
  ansible/playbooks/service/lxd.yml
  ansible/playbooks/service/netbox.yml
  ansible/playbooks/service/owncloud-apache.yml
  ansible/playbooks/service/owncloud-nginx.yml
  ansible/playbooks/service/php.yml
  ansible/playbooks/service/phpipam.yml
  ansible/playbooks/service/phpmyadmin.yml
  ansible/playbooks/service/roundcube.yml
  ansible/playbooks/service/rspamd.yml
  ansible/playbooks/service/rsyslog.yml
  ansible/playbooks/service/slapd.yml
  ansible/playbooks/service/wpcli.yml
  ansible/roles/logrotate/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: logging

#1998 Execute Ansible commands in shell environment
  src/debops/ansibleplaybookrunner.py
Labels: bug, priority: high, status: completed, tag: DebOps script

#2003 Ensure that 'dig_srv' plugin is used via FQCN
  ansible/roles/gitlab_runner/defaults/main.yml
  ansible/roles/icinga/defaults/main.yml
  ansible/roles/ldap/defaults/main.yml
  ansible/roles/nullmailer/defaults/main.yml
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/rsyslog/defaults/main.yml
Labels: bug, priority: high, status: completed

#1917 [imapproxy] Add new role
  ansible/playbooks/app/all.yml
  ansible/playbooks/app/imapproxy.yml
  ansible/playbooks/service/imapproxy.yml
  ansible/roles/global_handlers/handlers/imapproxy.yml
  ansible/roles/global_handlers/handlers/main.yml
  ansible/roles/imapproxy/COPYRIGHT
  ansible/roles/imapproxy/defaults/main.yml
  ansible/roles/imapproxy/meta/main.yml
  ansible/roles/imapproxy/tasks/main.yml
  ansible/roles/imapproxy/templates/etc/ansible/facts.d/imapproxy.fact.j2
  ansible/roles/imapproxy/templates/etc/imapproxy.conf.j2
  ansible/roles/imapproxy/templates/etc/pki/hooks/imapproxy.j2
  docs/ansible/role-index.rst
  docs/ansible/roles/imapproxy/defaults-detailed.rst
  docs/ansible/roles/imapproxy/getting-started.rst
  docs/ansible/roles/imapproxy/index.rst
  docs/ansible/roles/imapproxy/man_description.rst
  docs/ansible/roles/imapproxy/man_index.rst
  docs/ansible/roles/imapproxy/man_synopsis.rst
Labels: new feature, priority: high, status: completed, tag: mail services

#2005 Ensure that 'parse_kv_*' plugins are used via FQCN
  ansible/roles/dovecot/templates/etc/dovecot/dovecot.conf.j2
  ansible/roles/pdns/templates/etc/powerdns/pdns.conf.j2
Labels: bug, priority: high, status: completed

#2014 Use 'debops__no_log' in most of DebOps roles
  CHANGELOG.rst
  ansible/playbooks/ldap/init-directory.yml
  ansible/playbooks/ldap/save-credential.yml
  ansible/roles/cryptsetup/tasks/manage_devices.yml
  ansible/roles/dokuwiki/defaults/main.yml
  ansible/roles/dokuwiki/tasks/main.yml
  ansible/roles/dovecot/defaults/main.yml
  ansible/roles/etesync/tasks/main.yml
  ansible/roles/etherpad/tasks/main.yml
  ansible/roles/firejail/defaults/main.yml
  ansible/roles/firejail/tasks/main.yml
  ansible/roles/gitlab/defaults/main.yml
  ansible/roles/gitlab/tasks/configure_gitlab_ce.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/grub/tasks/main.yml
  ansible/roles/icinga/defaults/main.yml
  ansible/roles/icinga/handlers/main.yml
  ansible/roles/icinga/tasks/main.yml
  ansible/roles/icinga_web/defaults/main.yml
  ansible/roles/icinga_web/tasks/main.yml
  ansible/roles/iscsi/tasks/main.yml
  ansible/roles/librenms/tasks/main.yml
  ansible/roles/mailman/defaults/main/dependent.yml
  ansible/roles/mariadb/tasks/manage_contents.yml
  ansible/roles/minio/tasks/main.yml
  ansible/roles/mosquitto/tasks/main.yml
  ansible/roles/netbox/tasks/main.yml
  ansible/roles/nginx/tasks/nginx_htpasswd.yml
  ansible/roles/nslcd/defaults/main.yml
  ansible/roles/nullmailer/defaults/main.yml
  ansible/roles/nullmailer/tasks/main.yml
  ansible/roles/phpipam/tasks/phpipam.yml
  ansible/roles/postgresql/tasks/main.yml
  ansible/roles/postgresql_server/tasks/secure_installation.yml
  ansible/roles/postldap/defaults/main.yml
  ansible/roles/rabbitmq_server/tasks/main.yml
  ansible/roles/redis_sentinel/defaults/main.yml
  ansible/roles/redis_sentinel/tasks/main.yml
  ansible/roles/redis_server/defaults/main.yml
  ansible/roles/redis_server/tasks/main.yml
  ansible/roles/root_account/tasks/main.yml
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/saslauthd/defaults/main.yml
  ansible/roles/secret/defaults/main.yml
  ansible/roles/slapd/defaults/main.yml
  ansible/roles/snmpd/tasks/configure_snmpv3_credentials.yml
  ansible/roles/snmpd/tasks/main.yml
  ansible/roles/sshd/defaults/main.yml
  ansible/roles/sshd/tasks/authorized_keys_lookup.yml
  ansible/roles/sssd/defaults/main.yml
  ansible/roles/sudo/defaults/main.yml
  ansible/roles/system_users/tasks/main.yml
  ansible/roles/users/tasks/main.yml
  docs/ansible/roles/freeradius/defaults-detailed.rst
  docs/ansible/roles/freeradius/examples/eduroam/freeradius.yml
  docs/ansible/roles/slapd/defaults-detailed.rst
Labels: change, priority: medium, status: completed

#2010 [bootstrap-*] Improve mitogen compatibility
  ansible/playbooks/bootstrap-ldap.yml
  ansible/playbooks/bootstrap-sss.yml
  ansible/playbooks/bootstrap.yml
  ansible/playbooks/service/python_raw.yml
Labels: change, priority: medium, status: completed

#1898 [1897] Fixes etckeeper role failure on first run.
  ansible/roles/etckeeper/tasks/main.yml
Labels: change, priority: medium, status: completed

#2009 [nginx] Remove SPDY option
  ansible/roles/nginx/defaults/main.yml
  ansible/roles/nginx/templates/etc/nginx/sites-available/default.conf.j2
  docs/news/upgrades.rst
Labels: change, priority: medium, status: completed, tag: nginx

#2018 [elasticsearch] Update configuration for v8.0
  ansible/roles/elasticsearch/defaults/main.yml
Labels: change, priority: high, status: completed, tag: upkeep, tag: Elastic

#2016 [dpkg_divert] Convert all roles to use the module
  ansible/plugins/modules/dpkg_divert.py
  ansible/roles/ansible_plugins/library/dpkg_divert.py
  ansible/roles/apache/tasks/main.yml
  ansible/roles/apt/tasks/main.yml
  ansible/roles/apt_cacher_ng/tasks/main.yml
  ansible/roles/apt_cacher_ng/tasks/state_present.yml
  ansible/roles/avahi/tasks/main.yml
  ansible/roles/backup2l/tasks/main.yml
  ansible/roles/debops_legacy/tasks/main.yml
  ansible/roles/dnsmasq/tasks/main.yml
  ansible/roles/docker_registry/tasks/main.yml
  ansible/roles/elasticsearch/tasks/main.yml
  ansible/roles/etc_services/tasks/main.yml
  ansible/roles/etckeeper/tasks/main.yml
  ansible/roles/fail2ban/tasks/main.yml
  ansible/roles/ferm/tasks/main.yml
  ansible/roles/freeradius/tasks/main.yml
  ansible/roles/fuse/tasks/main.yml
  ansible/roles/grub/tasks/main.yml
  ansible/roles/icinga/tasks/main.yml
  ansible/roles/ifupdown/tasks/divert_interfaces.yml
  ansible/roles/imapproxy/tasks/main.yml
  ansible/roles/kibana/tasks/main.yml
  ansible/roles/ldap/tasks/main.yml
  ansible/roles/libuser/tasks/main.yml
  ansible/roles/libvirtd/tasks/main.yml
  ansible/roles/libvirtd_qemu/tasks/main.yml
  ansible/roles/logrotate/defaults/main.yml
  ansible/roles/logrotate/tasks/main.yml
  ansible/roles/lvm/tasks/main.yml
  ansible/roles/machine/tasks/main.yml
  ansible/roles/minidlna/tasks/main.yml
  ansible/roles/nginx/tasks/main.yml
  ansible/roles/nscd/tasks/main.yml
  ansible/roles/ntp/tasks/ntpd.yml
  ansible/roles/ntp/tasks/openntpd.yml
  ansible/roles/opendkim/tasks/main.yml
  ansible/roles/pam_access/tasks/main.yml
  ansible/roles/php/tasks/main.yml
  ansible/roles/postgresql_server/tasks/manage_autopostgresqlbackup.yml
  ansible/roles/resolvconf/tasks/main.yml
  ansible/roles/slapd/tasks/main.yml
  ansible/roles/slapd/tasks/prepare_rfc2307bis.yml
  ansible/roles/snapshot_snapper/tasks/main.yml
  ansible/roles/snmpd/tasks/main.yml
  ansible/roles/sshd/tasks/main.yml
  ansible/roles/sysctl/tasks/main.yml
  ansible/roles/tcpwrappers/tasks/main.yml
  ansible/roles/unattended_upgrades/tasks/main.yml
  docs/ansible/roles/freeradius/defaults-detailed.rst
  docs/ansible/roles/icinga/defaults-detailed.rst
Labels: change, priority: medium, status: completed

#2015 [grub] Fix password generation
  ansible/roles/grub/tasks/main.yml
Labels: bug, priority: medium, status: completed

#1992 [apt_install] Autodetect presence of virtual RNG
  ansible/roles/apt_install/defaults/main.yml
  ansible/roles/apt_install/tasks/main.yml
  ansible/roles/apt_install/templates/etc/ansible/facts.d/apt_install.fact.j2
  docs/ansible/roles/apt_install/defaults-detailed.rst
Labels: change, priority: medium, status: completed

#1991 [dnsmasq] Fix DNS A/AAAA record generation
  ansible/roles/dnsmasq/templates/etc/dnsmasq.d/dhcp-dns-options.conf.j2
  docs/ansible/roles/dnsmasq/defaults-detailed.rst
Labels: bug, priority: medium, status: completed, tag: DNS

#2017 [misc] Finish the debops__no_log conversion
  ansible/roles/freeradius/tasks/main.yml
  ansible/roles/icinga/tasks/main.yml
  ansible/roles/icinga_web/tasks/main.yml
  ansible/roles/monit/tasks/main.yml
  ansible/roles/postfix/tasks/main.yml
  ansible/roles/resources/tasks/main.yml
  ansible/roles/resources/tasks/shell_commands.yml
  ansible/roles/secret/defaults/main.yml
  ansible/roles/slapd/tasks/main.yml
  ansible/roles/slapd/tasks/slapd_tasks.yml
  ansible/roles/system_users/tasks/main.yml
  ansible/roles/users/tasks/main.yml
  docs/ansible/roles/secret/guides.rst
Labels: change, priority: high, status: completed

#2019 Update documentation in preparation for next release
  .mailmap
  CHANGELOG.rst
  docs/conf.py
  docs/news/releases.rst
Labels: documentation, priority: medium, status: completed

#2022 Fixes for issues found in the latest release
  CHANGELOG.rst
  lib/ansible-galaxy/make-collection
  src/debops/ansibleplaybookrunner.py
Labels: bug, priority: high, status: completed, tag: Ansible Collection, tag: DebOps script

#2028 Changes rquired by Elasticsearch & Kibana v8.0
  ansible/roles/elasticsearch/defaults/main.yml
  ansible/roles/kibana/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: Elastic

#2029 [logrotate] Don't include fold markers in config
  CHANGELOG.rst
  ansible/roles/logrotate/defaults/main.yml
Labels: bug, priority: high, status: completed
