Repository debops/debops, pull requests merged in 2022-06, with the labels that each got.

#2114 feat(netbox): Upgrade to NetBox v3.2.4
  CHANGELOG.rst
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/meta/watch-netbox
Labels: change, status: completed, tag: version upgrade, tag: application

#2113 fix(postgresql): Use FQCN to fix issue with quoting in SQL command; AND minor fixes
  CHANGELOG.rst
  ansible/roles/kibana/tasks/main.yml
  ansible/roles/metricbeat/tasks/main.yml
  ansible/roles/postgresql/tasks/main.yml
Labels: bug, priority: high, status: completed, tag: database, tag: PostgreSQL

#2094 [grub] Use a file to pass the PW to grub-mkpassword
  ansible/roles/grub/tasks/main.yml
  ansible/roles/grub/templates/secret/credentials/inventory_hostname/grub/user_name/password_mkpasswd.j2
Labels: change, priority: high, status: completed, tag: security, tag: provisioning

#2129 [minio] Add support for embedded MinIO Console
  CHANGELOG.rst
  ansible/roles/minio/defaults/main.yml
  ansible/roles/minio/templates/etc/minio/instance.j2
  ansible/roles/minio/templates/lookup/minio__env_etc_services_dependent_list.j2
  ansible/roles/minio/templates/lookup/minio__env_ferm_dependent_rules.j2
  docs/ansible/roles/minio/defaults-detailed.rst
  docs/ansible/roles/minio/deployment-guide.rst
Labels: change, priority: medium, status: completed, tag: application

#2112 Correct default adddress to current apt packages
  ansible/roles/influxdata/defaults/main.yml
Labels: change, priority: high, status: completed, tag: InfluxData, tag: upkeep

#2137 [pki] Add certbot deploy hook to refresh PKI keys
  .github/workflows/continuous-integration.yml
  .github/workflows/prepare-ci-pipeline/action.yml
  CHANGELOG.rst
  ansible/roles/pki/files/etc/letsencrypt/renewal-hooks/deploy/pki-realm-refresh-keys
  ansible/roles/pki/tasks/certbot.yml
Labels: bug, priority: high, status: completed, tag: Let's Encrypt/ACME, tag: PKI

#2140 [resolvconf] Enable full static resolvconf without package
  CHANGELOG.rst
  ansible/roles/resolvconf/defaults/main.yml
  ansible/roles/resolvconf/tasks/main.yml
Labels: change, priority: medium, status: completed, tag: DNS

#2139 [etckeeper] Do not track gitlab runner config, nor docker private key
  ansible/roles/etckeeper/defaults/main.yml
Labels: change, priority: medium, status: completed

#2136 [slapd] Make saslauthd role execution configurable
  CHANGELOG.rst
  ansible/playbooks/service/slapd.yml
  ansible/roles/slapd/defaults/main.yml
Labels: new feature, priority: medium, status: completed, tag: LDAP

#2143 Switch 'from/to_json' to 'from/to_yaml' filters
  ansible/playbooks/templates/debops__tpl_macros.j2
  ansible/roles/apt/templates/etc/ansible/facts.d/apt.fact.j2
  ansible/roles/apt/templates/etc/apt/sources.list.j2
  ansible/roles/apt/templates/import/debops__tpl_macros.j2
  ansible/roles/apt_install/tasks/main.yml
  ansible/roles/apt_install/templates/lookup/apt_install__all_packages.j2
  ansible/roles/cron/templates/lookup/cron__combined_jobs.j2
  ansible/roles/ferm/defaults/main.yml
  ansible/roles/ferm/templates/etc/ferm/rules.d/rule.conf.j2
  ansible/roles/ferm/templates/import/debops__tpl_macros.j2
  ansible/roles/ferm/templates/lookup/ferm__fix_dependent_rules.j2
  ansible/roles/unattended_upgrades/templates/etc/ansible/facts.d/unattended_upgrades.fact.j2
  ansible/roles/unattended_upgrades/templates/etc/apt/apt.conf.d/50unattended-upgrades.j2
  ansible/roles/unattended_upgrades/templates/unattended_upgrades__tpl_macros.j2
Labels: change, priority: high, status: completed, tag: upkeep

#2144 Various fixes and improvements
  CHANGELOG.rst
  ansible/plugins/modules/apache2_module.py
  ansible/plugins/modules/cran.py
  ansible/plugins/modules/dpkg_divert.py
  ansible/plugins/modules/ldap_attrs.py
  ansible/roles/ansible_plugins/library/cran.py
  ansible/roles/ansible_plugins/library/dpkg_divert.py
  ansible/roles/ansible_plugins/library/ldap_attrs.py
  ansible/roles/nginx/tasks/main.yml
  ansible/roles/nginx/templates/etc/systemd/system/nginx.service.d/wait-for-network.conf.j2
  ansible/roles/php/defaults/main.yml
  ansible/roles/python/defaults/main.yml
Labels: bug, priority: medium, status: completed, tag: nginx, tag: Python, tag: upkeep, tag: PHP
