Repository debops/debops, pull requests merged in 2022-05, with the labels that each got.

#2085 [netbox] Add support for LDAP authentication
  CHANGELOG.rst
  ansible/playbooks/service/netbox.yml
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/tasks/main.yml
  ansible/roles/netbox/templates/usr/local/lib/netbox/configuration.py.j2
  ansible/roles/netbox/templates/usr/local/lib/netbox/ldap_config.py.j2
  docs/ansible/roles/ldap/ldap-dit.rst
  docs/ansible/roles/netbox/index.rst
  docs/ansible/roles/netbox/ldap-dit.rst
  lib/tests/check-pep8
Labels: new feature, priority: medium, status: completed, tag: LDAP, tag: application

#2083 Fix Prosody PKI variable name typo
  ansible/roles/prosody/defaults/main.yml
  ansible/roles/prosody/templates/etc/prosody/prosody.cfg.lua.j2
Labels: change, priority: high, status: completed

#2081 Only fill nullmailer__smtp_srv_rr when nullmailer__enabled
  ansible/roles/nullmailer/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: mail services

#2087 [apache2_module] Make a Debian only version that does not fatal error
  ansible/plugins/modules/apache2_module.py
  ansible/roles/apache/tasks/apache_module_state.yml
Labels: change, priority: medium, status: completed, tag: webserver

#2090 Add names to unnamed tasks in roles
  ansible/roles/hashicorp/tasks/main.yml
  ansible/roles/owncloud/tasks/tarball.yml
  ansible/roles/persistent_paths/tasks/main.yml
  ansible/roles/pki/tasks/main.yml
  ansible/roles/rspamd/defaults/main.yml
Labels: bug, status: completed, tag: Continuous Integration

#2106 Various bugfixes and changes in the codebase
  CHANGELOG.rst
  ansible/playbooks/service/boxbackup.yml
  ansible/playbooks/site.yml
  ansible/roles/boxbackup/meta/main.yml
  ansible/roles/ferm/templates/etc/ferm/rules.d/rule.conf.j2
  ansible/roles/lvm/vars/lvm_config_2.02.168.yml
  ansible/roles/netbox/tasks/main.yml
  ansible/roles/rails_deploy/meta/main.yml
  ansible/roles/resolvconf/templates/usr/local/lib/resolvconf-static.j2
Labels: change, priority: medium, status: completed

#2099 [dovecot] LDAP fixes
  ansible/roles/dovecot/defaults/main.yml
Labels: bug, priority: medium, status: completed, tag: LDAP, tag: mail services

#2098 [postldap] LDAP fixes
  ansible/roles/postldap/defaults/main.yml
Labels: bug, priority: medium, status: completed, tag: LDAP, tag: mail services

#2096 [nginx|apache] Remove FLoC (Federated Learning of Cohorts) support
  ansible/roles/apache/templates/etc/apache2/sites-available/default.conf.j2
  ansible/roles/nginx/templates/etc/nginx/sites-available/default.conf.j2
  docs/ansible/roles/apache/defaults-detailed.rst
  docs/ansible/roles/nginx/defaults-detailed.rst
Labels: change, priority: high, status: completed, tag: webserver, tag: nginx

#2095 [pdns] Fix syntax error on local-address option
  CHANGELOG.rst
  ansible/roles/pdns/defaults/main.yml
Labels: bug, priority: high, tag: DNS
