Repository debops/debops, pull requests merged in 2022-12, with the labels that each got.

#2246 Add support for Zabbix Agent 2 (Go)
  CHANGELOG.rst
  ansible/playbooks/service/zabbix_agent.yml
  ansible/roles/global_handlers/handlers/zabbix_agent.yml
  ansible/roles/zabbix_agent/defaults/main.yml
  ansible/roles/zabbix_agent/tasks/main.yml
  ansible/roles/zabbix_agent/templates/etc/zabbix/zabbix_agentd.conf.j2
  docs/ansible/roles/zabbix_agent/defaults-detailed.rst
  docs/ansible/roles/zabbix_agent/getting-started.rst
Labels: new feature, priority: medium, status: completed, tag: monitoring

#2249 Remove warn argument from command and shell module
  ansible/roles/apparmor/tasks/main.yml
  ansible/roles/apt_cacher_ng/tasks/main.yml
  ansible/roles/cryptsetup/tasks/manage_devices.yml
  ansible/roles/dokuwiki/tasks/main.yml
  ansible/roles/etesync/tasks/main.yml
  ansible/roles/etherpad/tasks/main.yml
  ansible/roles/hashicorp/tasks/main.yml
  ansible/roles/netbox/tasks/main.yml
  ansible/roles/nginx/tasks/main.yml
  ansible/roles/owncloud/tasks/tarball.yml
  ansible/roles/phpipam/tasks/phpipam.yml
  ansible/roles/postgresql_server/tasks/manage_clusters.yml
  ansible/roles/rails_deploy/tasks/deploy_keys.yml
  ansible/roles/roundcube/tasks/main.yml
  ansible/roles/rsnapshot/tasks/main.yml
  ansible/roles/sshd/tasks/main.yml
Labels: change, priority: high, status: completed, tag: upkeep

#2248 feat(owncloud): Add support for Nextcloud 24 and 25, drop 22; Drop ownCloud full auto upgrade support
  CHANGELOG.rst
  ansible/playbooks/service/owncloud-nginx.yml
  ansible/roles/owncloud/defaults/main.yml
  ansible/roles/owncloud/tasks/setup_owncloud.yml
  ansible/roles/owncloud/tasks/system_package_management.yml
  ansible/roles/owncloud/templates/etc/ansible/facts.d/owncloud.fact.j2
  ansible/roles/owncloud/templates/etc/apt/apt.conf.d/dpkg-hook.j2
  ansible/roles/owncloud/templates/usr/local/lib/owncloud_dpkg_hook.j2
  docs/ansible/roles/owncloud/role-development.rst
Labels: change, priority: medium, status: completed, tag: Nextcloud

#2242 Update proxmox certificates on let's encrypt renewal
  ansible/roles/pki/files/etc/letsencrypt/renewal-hooks/deploy/pki-realm-refresh-keys
Labels: new feature, priority: medium, status: completed, tag: Let's Encrypt/ACME, tag: PKI

#2199 feat(netbox): Upgrade from NetBox v3.2.4 to v3.3.8
  CHANGELOG.rst
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/meta/watch-netbox
  ansible/roles/netbox/templates/usr/local/lib/netbox/configuration.py.j2
Labels: change, priority: medium, status: completed, tag: version upgrade

#2238 Fix ASCII password lookup character sets
  CHANGELOG.rst
  ansible/roles/etherpad/tasks/main.yml
  ansible/roles/minio/templates/etc/minio/instance.j2
  ansible/roles/monit/defaults/main.yml
  ansible/roles/nginx/defaults/main.yml
  ansible/roles/postgresql/defaults/main.yml
  ansible/roles/postgresql_server/defaults/main.yml
  ansible/roles/snmpd/defaults/main.yml
  docs/ansible/roles/gitlab_runner/getting-started.rst
Labels: bug, priority: high, status: completed, tag: security
