Repository debops/debops, pull requests merged in 2022-03, with the labels that each got.

#2048 Various fixes and improvements
  CHANGELOG.rst
  ansible/playbooks/app/all.yml
  ansible/roles/kibana/defaults/main.yml
  ansible/roles/kibana/tasks/main.yml
  ansible/roles/ldap/defaults/main.yml
  ansible/roles/ldap/templates/lookup/ldap__device_mac_addresses.j2
  docs/ansible/roles/kibana/defaults-detailed.rst
Labels: change, status: completed, tag: LDAP, tag: Ansible Collection, tag: Elastic

#2043 add example for docker_server__custom_daemon_options
  ansible/roles/docker_server/defaults/main.yml
Labels: documentation, status: completed, tag: Docker

#2038 replace all -> debops_all_hosts in docs
  Vagrantfile
  ansible/roles/apt_preferences/defaults/main.yml
  docs/ansible/roles/apt_install/getting-started.rst
  docs/ansible/roles/authorized_keys/defaults-detailed.rst
  docs/ansible/roles/core/guides.rst
  docs/ansible/roles/environment/getting-started.rst
  docs/ansible/roles/fail2ban/getting-started.rst
  docs/ansible/roles/keyring/getting-started.rst
  docs/ansible/roles/ldap/getting-started.rst
  docs/ansible/roles/minio/deployment-guide.rst
  docs/ansible/roles/nullmailer/getting-started.rst
  docs/ansible/roles/pki/getting-started.rst
  docs/ansible/roles/sshd/getting-started.rst
  docs/ansible/roles/system_users/control-user.rst
  docs/introduction/getting-started.rst
Labels: documentation, status: completed

#2037 Update Roundcube to 1.5
  CHANGELOG.rst
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/roundcube/meta/watch-roundcubemail
Labels: change, status: completed, tag: mail services, tag: version upgrade

#2035 [ntp] fix disable systemd-timesyncd for bullseye
  ansible/roles/ntp/tasks/install.yml
Labels: change, status: completed

#2034 Fix lookup plugins to support 'standalone' mode again
  ansible/plugins/lookup/file_src.py
  ansible/plugins/lookup/task_src.py
  ansible/plugins/lookup/template_src.py
  ansible/roles/ansible_plugins/lookup_plugins/file_src.py
  ansible/roles/ansible_plugins/lookup_plugins/task_src.py
  ansible/roles/ansible_plugins/lookup_plugins/template_src.py
Labels: bug, priority: high, status: completed, tag: Ansible Collection

#2031 [pki] Explicitly use certbot authenticator
  ansible/roles/pki/files/usr/local/lib/pki/pki-realm
Labels: change, priority: medium, status: completed, tag: Let's Encrypt/ACME, tag: PKI

#2026 [apache] Remove ansible version check
  ansible/roles/apache/tasks/main.yml
Labels: change, priority: medium, status: completed

#2052 Fixes and improvements in Elasticsearch, Kibana, other roles
  CHANGELOG.rst
  ansible/roles/elasticsearch/tasks/authentication.yml
  ansible/roles/elasticsearch/tasks/main.yml
  ansible/roles/golang/tasks/golang_build_install.yml
  ansible/roles/hashicorp/tasks/main.yml
  ansible/roles/ipxe/tasks/debian_netboot.yml
  ansible/roles/java/defaults/main.yml
  ansible/roles/java/tasks/main.yml
  ansible/roles/java/templates/etc/ansible/facts.d/java.fact.j2
  ansible/roles/java/templates/etc/java-x-openjdk/security/java.policy.j2
  ansible/roles/kibana/defaults/main.yml
  ansible/roles/kibana/tasks/main.yml
  ansible/roles/owncloud/tasks/tarball.yml
  ansible/roles/rspamd/meta/main.yml
  ansible/roles/rstudio_server/tasks/main.yml
  ansible/roles/wpcli/tasks/main.yml
Labels: change, priority: medium, status: completed, tag: Elastic

#2025 [misc] Update ssh key lookup
  ansible/roles/preseed/defaults/main.yml
  ansible/roles/reprepro/defaults/main.yml
  ansible/roles/system_users/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: provisioning, tag: SSH

#2024 [root_account] Remove fix for Debian bug #794727
  ansible/roles/root_account/defaults/main.yml
  ansible/roles/root_account/tasks/main.yml
Labels: change, priority: medium, status: completed

#2023 [apt_install] Remove ranger from package list
  ansible/roles/apt_install/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: APT packages

#2054 [grub] Use env variables to store user passwords
  CHANGELOG.rst
  ansible/roles/grub/tasks/main.yml
Labels: bug, priority: high, status: completed, tag: security

#2057 [ipxe] Update Debian Buster/Bullseye releases
  CHANGELOG.rst
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/ipxe/meta/watch-firmware-bullseye
  ansible/roles/ipxe/meta/watch-firmware-buster
  ansible/roles/ipxe/meta/watch-netboot-bullseye
  ansible/roles/ipxe/meta/watch-netboot-buster
Labels: change, priority: high, status: completed, tag: provisioning, tag: upkeep

#2059 Small bugfixes in various roles
  ansible/roles/atd/tasks/main.yml
  ansible/roles/etc_services/tasks/main.yml
  ansible/roles/ifupdown/tasks/divert_interfaces.yml
  ansible/roles/sudo/tasks/main.yml
  ansible/roles/tcpwrappers/tasks/main.yml
Labels: bug, priority: medium, status: completed, tag: Ansible facts, tag: Ansible dry-run mode
