Repository debops/debops, pull requests merged in 2022-08, with the labels that each got.

#2167 Improvements in GitLab role, small bugfixes in other roles
  CHANGELOG.rst
  ansible/roles/gitlab/defaults/main.yml
  ansible/roles/gitlab/tasks/main.yml
  ansible/roles/pki/files/etc/letsencrypt/renewal-hooks/deploy/pki-realm-refresh-keys
  ansible/roles/sudo/templates/etc/ansible/facts.d/sudo.fact.j2
  setup.py
Labels: change, priority: medium, status: completed, tag: GitLab, tag: PKI, tag: Ansible facts

#2166 [roundcube] Update to Roundcube 1.6.0
  CHANGELOG.rst
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/roundcube/meta/watch-roundcubemail
Labels: priority: medium, status: completed, tag: mail services, tag: version upgrade

#2165 add missing fqcn for dpkg_divert
  ansible/roles/apache/tasks/main.yml
  ansible/roles/apt/tasks/main.yml
  ansible/roles/apt_cacher_ng/tasks/main.yml
  ansible/roles/avahi/tasks/main.yml
  ansible/roles/backup2l/tasks/main.yml
  ansible/roles/cron/tasks/main.yml
  ansible/roles/debops_legacy/tasks/main.yml
  ansible/roles/dhcpd/tasks/main.yml
  ansible/roles/dhcrelay/tasks/main.yml
  ansible/roles/dnsmasq/tasks/main.yml
  ansible/roles/docker_registry/tasks/main.yml
  ansible/roles/dovecot/tasks/main.yml
  ansible/roles/elasticsearch/tasks/main.yml
  ansible/roles/etc_services/tasks/main.yml
  ansible/roles/etckeeper/tasks/main.yml
  ansible/roles/extrepo/tasks/main.yml
  ansible/roles/fail2ban/tasks/main.yml
  ansible/roles/ferm/tasks/main.yml
  ansible/roles/filebeat/tasks/main.yml
  ansible/roles/freeradius/tasks/main.yml
  ansible/roles/fuse/tasks/main.yml
  ansible/roles/grub/tasks/main.yml
  ansible/roles/icinga/tasks/main.yml
  ansible/roles/ifupdown/tasks/divert_interfaces.yml
  ansible/roles/imapproxy/tasks/main.yml
  ansible/roles/influxdb_server/tasks/main.yml
  ansible/roles/java/tasks/main.yml
  ansible/roles/kibana/tasks/main.yml
  ansible/roles/ldap/tasks/main.yml
  ansible/roles/libuser/tasks/main.yml
  ansible/roles/libvirtd/tasks/main.yml
  ansible/roles/libvirtd_qemu/tasks/main.yml
  ansible/roles/lldpd/tasks/main.yml
  ansible/roles/logrotate/tasks/main.yml
  ansible/roles/lvm/tasks/main.yml
  ansible/roles/machine/tasks/main.yml
  ansible/roles/metricbeat/tasks/main.yml
  ansible/roles/minidlna/tasks/main.yml
  ansible/roles/nginx/tasks/main.yml
  ansible/roles/nscd/tasks/main.yml
  ansible/roles/ntp/tasks/ntpd.yml
  ansible/roles/ntp/tasks/openntpd.yml
  ansible/roles/opendkim/tasks/main.yml
  ansible/roles/pam_access/tasks/main.yml
  ansible/roles/pdns/tasks/main.yml
  ansible/roles/php/tasks/main.yml
  ansible/roles/pki/tasks/certbot.yml
  ansible/roles/postgresql_server/tasks/manage_autopostgresqlbackup.yml
  ansible/roles/resolvconf/tasks/main.yml
  ansible/roles/rsyslog/tasks/main.yml
  ansible/roles/slapd/tasks/main.yml
  ansible/roles/slapd/tasks/prepare_rfc2307bis.yml
  ansible/roles/snapshot_snapper/tasks/main.yml
  ansible/roles/snmpd/tasks/main.yml
  ansible/roles/sshd/tasks/main.yml
  ansible/roles/sysctl/tasks/main.yml
  ansible/roles/tcpwrappers/tasks/main.yml
  ansible/roles/tinyproxy/tasks/main.yml
  ansible/roles/unattended_upgrades/tasks/main.yml
Labels: change, priority: high

#2186 [ci] Add separate workflow for ansible-lint@main
  .github/workflows/ansible-lint.yml
Labels: internal, priority: medium, status: completed, tag: Continuous Integration
