Repository debops/debops, pull requests merged in 2023-08, with the labels that each got.

#2391 Fix github action actions and findings
  .github/workflows/continuous-integration.yml
  ansible/roles/gitlab/files/script/gitlab-version2
  ansible/roles/gitlab/files/script/gitlab-version3
  ansible/roles/gitlab/templates/etc/systemd/system/gitlab-workhorse.service.j2
  ansible/roles/gitlab/templates/var/local/git/gitlab/config/database.postgresql.yml.j2
Labels: change, priority: medium, status: completed, tag: Continuous Integration

#2398 fix item name zfs_root - fixes #2397
  ansible/roles/lxc/tasks/main.yml
Labels: bug, priority: high, status: completed, tag: LXC

#2378 Deb822 repository bookworm
  ansible/roles/apt/defaults/main.yml
  ansible/roles/apt/tasks/main.yml
  docs/ansible/roles/apt/defaults-detailed.rst
  docs/includes/global.rst
Labels: new feature, priority: medium, status: completed, tag: APT packages

#2400 Add 'python3-debian' APT package installation
  ansible/roles/apt/defaults/main.yml
  ansible/roles/preseed/defaults/main.yml
  ansible/roles/python/defaults/main.yml
  lib/ansible-galaxy/make-collection
Labels: new feature, priority: medium, status: completed, tag: APT packages

#2402 [docs] Enable Sphinx RTD Theme on readthedocs.org
  docs/conf.py
  docs/requirements.txt
Labels: documentation, priority: medium, status: completed

#2404 [apt] Synchronize names of 'apt__deb822_*' vars
  ansible/roles/apt/defaults/main.yml
  docs/ansible/roles/apt/defaults-detailed.rst
Labels: bug, priority: high, status: completed, tag: APT packages
