Repository debops/debops, pull requests merged in 2023-01, with the labels that each got.

#2236 Enable resources__files like in mount
  CHANGELOG.rst
  ansible/roles/mount/defaults/main.yml
  ansible/roles/mount/tasks/main.yml
Labels: new feature, priority: medium, status: completed

#2251 feature(owncloud): Support to host on a subpath for security reasons (Nextcloud/ownCloud)
  CHANGELOG.rst
  ansible/roles/owncloud/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: Nextcloud

#2235 Typo fixing
  CHANGELOG.rst
  CONTRIBUTING.rst
  INSTALL.rst
  ansible/playbooks/bootstrap.yml
  ansible/playbooks/ldap/get-uuid.yml
  ansible/playbooks/ldap/init-directory.yml
  ansible/playbooks/service/nsswitch.yml
  ansible/playbooks/sys/all.yml
  ansible/playbooks/templates/debops__tpl_macros.j2
  ansible/playbooks/tools/6to4.yml
  ansible/plugins/connection/lxc_ssh.py
  ansible/plugins/connection_plugins/lxc_ssh.py
  ansible/plugins/filter/split.py
  ansible/plugins/lookup/lists.py
  ansible/plugins/modules/ldap_attrs.py
  ansible/roles/dokuwiki/files/srv/www/dokuwiki/farm/animal/data/pages/wiki/syntax.txt
  ansible/roles/filebeat/defaults/main.yml
  ansible/roles/lldpd/defaults/main.yml
  ansible/roles/logrotate/defaults/main.yml
  ansible/roles/lvm/vars/lvm_config_2.02.168.yml
  ansible/roles/lvm/vars/lvm_config_2.02.66.yml
  ansible/roles/lvm/vars/lvm_config_2.02.95.yml
  ansible/roles/lvm/vars/lvm_config_2.02.98.yml
  ansible/roles/lvm/vars/lvm_config_2.03.02.yml
  ansible/roles/minidlna/defaults/main.yml
  ansible/roles/nginx/defaults/main.yml
  ansible/roles/nodejs/defaults/main.yml
  ansible/roles/php/templates/etc/php/fpm/pool.d/pool.conf.j2
  ansible/roles/postgresql_server/templates/usr/sbin/autopostgresqlbackup.j2
  ansible/roles/redis_sentinel/defaults/main.yml
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/slapd/files/etc/ldap/schema/debops/schac.schema
  ansible/roles/system_groups/defaults/main.yml
  ansible/roles/unattended_upgrades/templates/etc/apt/apt.conf.d/50unattended-upgrades.j2
  lib/tests/jane
Labels: documentation, priority: medium, status: completed

#2233 [proc_hidepid] Optimise /etc/ansible/facts.d/proc_hidepid.fact for hosts joined to active-directory domain
  ansible/roles/proc_hidepid/templates/etc/ansible/facts.d/proc_hidepid.fact.j2
Labels: change, priority: medium, status: completed, tag: Ansible facts

#2253 [proc_hidepid] Fix DeprecationWarning in fact
  ansible/roles/proc_hidepid/templates/etc/ansible/facts.d/proc_hidepid.fact.j2
Labels: bug, priority: medium, status: completed, tag: Ansible facts

#2231 Support PostgreSQL versions 14 and 15
  ansible/roles/postgresql_server/templates/etc/postgresql/postgresql.conf.j2
Labels: change, priority: medium, status: completed, tag: database, tag: PostgreSQL

#2257 fix(owncloud): Use OPcache values from Nextcloud docker image
  ansible/roles/owncloud/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: Nextcloud

#2254 feat(netbox): Upgrade from NetBox v3.3.8 to v3.4.2
  CHANGELOG.rst
  ansible/roles/netbox/defaults/main.yml
  ansible/roles/netbox/meta/watch-netbox
Labels: change, priority: medium, status: completed, tag: version upgrade

#2208 DebOps dev patchset 13: Fix debops-contrib dropbear playbook, fix(btrfs): btrfs-tools is now provided by btrfs-progs package
  CHANGELOG.rst
  ansible/debops-contrib-playbooks/service/all.yml
  ansible/debops-contrib-playbooks/service/homeassistant-nginx.yml
  ansible/roles/authorized_keys/defaults/main.yml
  ansible/roles/btrfs/defaults/main.yml
  ansible/roles/etesync/defaults/main.yml
  ansible/roles/homeassistant/defaults/main.yml
  ansible/roles/homeassistant/tasks/main.yml
  ansible/roles/homeassistant/tasks/main_env.yml
  ansible/roles/homeassistant/templates/etc/nginx/conf.d/debops.homeassistant.conf.j2
  ansible/roles/nginx/templates/etc/nginx/conf.d/upstream_default.conf.j2
  ansible/roles/nginx/templates/etc/nginx/conf.d/upstream_rails.conf.j2
  ansible/roles/nginx/templates/etc/nginx/sites-available/default.conf.j2
  ansible/roles/nginx/templates/etc/nginx/sites-available/php.conf.j2
  ansible/roles/nginx/templates/etc/nginx/sites-available/php5.conf.j2
  ansible/roles/opensearch/defaults/main.yml
  ansible/roles/owncloud/defaults/main.yml
  ansible/roles/php/tasks/main_env.yml
  ansible/roles/system_users/defaults/main.yml
  docs/ansible/roles/apt/getting-started.rst
  docs/ansible/roles/owncloud/getting-started.rst
  docs/introduction/getting-started.rst
Labels: change, priority: medium, status: completed

#2210 [ntp] Misc systemd-timesyncd / virtualization fixes
  ansible/roles/ntp/defaults/main.yml
Labels: change, priority: medium, status: completed

#2207 [slapd] Multi-master improvements
  docs/ansible/roles/slapd/examples/multi-master-replication.yml
  docs/ansible/roles/slapd/guide-multi-master-replication.rst
Labels: documentation, priority: medium, status: completed, tag: LDAP

#2258 Fix reuse issue 'Duplicate field "Copyright" in paragraph'...
  .reuse/dep5
Labels: bug, priority: high, status: completed, tag: Continuous Integration

#2259 Remove ansible-lint warning
  ansible/roles/dhparam/handlers/main.yml
  ansible/roles/docker_registry/defaults/main.yml
  ansible/roles/dovecot/defaults/main.yml
  ansible/roles/owncloud/defaults/main.yml
  ansible/roles/preseed/defaults/main.yml
  ansible/roles/reprepro/defaults/main.yml
  ansible/roles/roundcube/tasks/deploy_roundcube.yml
  ansible/roles/roundcube/tasks/main.yml
  ansible/roles/slapd/defaults/main.yml
  ansible/roles/system_users/defaults/main.yml
Labels: change, priority: high, status: completed, tag: Continuous Integration

#2262 Small docs fixes for reorganize DebOps playbooks into "layers"
  ansible/playbooks/upgrade.yml
  docs/user-guide/playbooks.rst
Labels: documentation, priority: medium, status: completed

#2270 [ci] Pin setuptools package to specific version
  .github/workflows/continuous-integration.yml
  .github/workflows/prepare-ci-pipeline/action.yml
Labels: bug, priority: high, status: completed, tag: Continuous Integration

#2276 New GPG keys for InfluxData repos.
  ansible/roles/influxdata/defaults/main.yml
Labels: change, priority: high, status: completed, tag: InfluxData
