Repository debops/debops, pull requests merged in 2023-04, with the labels that each got.

#2315 Convert 'git describe' into PEP-440 version string
  setup.py
Labels: change, priority: medium, status: completed

#2209 [apparmor] Convert to universal configuration and move from contrib
  ansible/debops-contrib-playbooks/README.rst
  ansible/debops-contrib-playbooks/service/all.yml
  ansible/debops-contrib-playbooks/service/apparmor.yml
  ansible/playbooks/service/apparmor.yml
  ansible/roles/apparmor/COPYRIGHT
  ansible/roles/apparmor/defaults/main.yml
  ansible/roles/apparmor/docs/changelog.rst
  ansible/roles/apparmor/docs/copyright.rst
  ansible/roles/apparmor/docs/getting-started.rst
  ansible/roles/apparmor/docs/includes/all.rst
  ansible/roles/apparmor/docs/index.rst
  ansible/roles/apparmor/docs/introduction.rst
  ansible/roles/apparmor/handlers/main.yml
  ansible/roles/apparmor/tasks/handle_locals.yml
  ansible/roles/apparmor/tasks/handle_profiles.yml
  ansible/roles/apparmor/tasks/handle_tunables.yml
  ansible/roles/apparmor/tasks/main.yml
  ansible/roles/apparmor/templates/etc/ansible/facts.d/apparmor.fact.j2
  ansible/roles/apparmor/templates/etc/apparmor.d/local/local.j2
  ansible/roles/apparmor/templates/etc/apparmor.d/snippet.j2
  ansible/roles/apparmor/templates/etc/apparmor.d/tunables/home.d/debops.j2
  ansible/roles/apparmor/templates/etc/default/grub.d/debops.apparmor.cfg.j2
  ansible/roles/global_handlers/handlers/apparmor.yml
  ansible/roles/global_handlers/handlers/main.yml
  docs/ansible/role-index.rst
  docs/ansible/roles/apparmor/defaults-detailed.rst
  docs/ansible/roles/apparmor/getting-started.rst
  docs/ansible/roles/apparmor/index.rst
  docs/ansible/roles/apparmor/man_description.rst
  docs/ansible/roles/apparmor/man_index.rst
  docs/ansible/roles/apparmor/man_synopsis.rst
Labels: change, priority: high, status: completed, tag: security

#2202 [pki] Fix missing quotes causing invalid directory creation
  ansible/roles/pki/files/secret/pki/lib/pki-authority
Labels: bug, priority: medium, status: completed, tag: PKI

#2295 [icinga] Add remote DB functionality and SSL support
  ansible/playbooks/service/icinga_db.yml
  ansible/playbooks/service/icinga_web.yml
  ansible/roles/icinga_db/COPYRIGHT
  ansible/roles/icinga_db/defaults/main.yml
  ansible/roles/icinga_db/tasks/main.yml
  ansible/roles/icinga_db/templates/etc/ansible/facts.d/icinga_db.fact.j2
  ansible/roles/icinga_db/templates/etc/icinga2/features-available/ido-db.conf.j2
  ansible/roles/icinga_web/COPYRIGHT
  ansible/roles/icinga_web/defaults/main.yml
  ansible/roles/icinga_web/tasks/main.yml
  ansible/roles/postgresql/defaults/main.yml
  ansible/roles/postgresql/tasks/main.yml
  docs/ansible/roles/postgresql/defaults-detailed.rst
Labels: change, priority: medium, tag: PostgreSQL, tag: monitoring

#2316 [dovecot] use fqdn for template_src
  ansible/roles/dovecot/tasks/main.yml
Labels: bug, priority: high, status: completed, tag: mail services

#2331 [pki] pki-realm specify input format to convert DER to PEM
  ansible/roles/pki/files/usr/local/lib/pki/pki-realm
Labels: bug, priority: high, tag: Let's Encrypt/ACME, tag: PKI

#2329 Implementation of "modern" project directories
  CHANGELOG.rst
  ansible/plugins/lookup/file_src.py
  ansible/plugins/lookup/task_src.py
  ansible/plugins/lookup/template_src.py
  ansible/roles/ansible_plugins/lookup_plugins/file_src.py
  ansible/roles/ansible_plugins/lookup_plugins/task_src.py
  ansible/roles/ansible_plugins/lookup_plugins/template_src.py
  docs/conf.py
  docs/user-guide/project-directories.rst
  docs/user-guide/scripts/debops-config/debops-config.rst
  docs/user-guide/scripts/debops-config/man_synopsis.rst
  docs/user-guide/scripts/debops-env/debops-env.rst
  docs/user-guide/scripts/debops-env/index.rst
  docs/user-guide/scripts/debops-env/man_description.rst
  docs/user-guide/scripts/debops-env/man_index.rst
  docs/user-guide/scripts/debops-env/man_synopsis.rst
  docs/user-guide/scripts/debops-exec/debops-exec.rst
  docs/user-guide/scripts/debops-exec/man_synopsis.rst
  docs/user-guide/scripts/debops-project/debops-project.rst
  docs/user-guide/scripts/debops-project/man_synopsis.rst
  docs/user-guide/scripts/debops-run/debops-run.rst
  docs/user-guide/scripts/debops-run/man_synopsis.rst
  docs/user-guide/scripts/debops.rst
  docs/user-guide/scripts/index.rst
  docs/user-guide/scripts/man_seealso.rst
  src/debops/_data/templates/projectdir/modern/environment.j2
  src/debops/_data/templates/projectdir/modern/gitattributes.j2
  src/debops/_data/templates/projectdir/modern/gitignore.j2
  src/debops/_data/templates/projectdir/modern/inventory/group_vars/all/keyring.yml.j2
  src/debops/_data/templates/projectdir/modern/inventory/hosts.j2
  src/debops/_data/templates/projectdir/modern/project.yml.j2
  src/debops/_data/templates/projectdir/modern/requirements.yml.j2
  src/debops/_data/templates/projectdir/modern/view.yml.j2
  src/debops/ansible/inventory.py
  src/debops/ansibleconfig.py
  src/debops/ansibleplaybookrunner.py
  src/debops/ansiblerunner.py
  src/debops/cli.py
  src/debops/config.py
  src/debops/envrunner.py
  src/debops/projectdir.py
  src/debops/subcommands.py
Labels: new feature, priority: high, tag: DebOps script

#2333 Support for hierarchical infrastructure views, improvements in DebOps CLI
  ansible/collections/ansible_collections/debops/debops/galaxy.yml
  docs/user-guide/project-directories.rst
  docs/user-guide/scripts/debops-config/debops-config.rst
  docs/user-guide/scripts/debops-config/man_synopsis.rst
  docs/user-guide/scripts/debops-env/debops-env.rst
  docs/user-guide/scripts/debops-env/man_synopsis.rst
  docs/user-guide/scripts/debops-exec/debops-exec.rst
  docs/user-guide/scripts/debops-exec/man_synopsis.rst
  docs/user-guide/scripts/debops-project/debops-project.rst
  docs/user-guide/scripts/debops-project/man_synopsis.rst
  docs/user-guide/scripts/debops-run/debops-run.rst
  docs/user-guide/scripts/debops-run/man_synopsis.rst
  lib/ansible-galaxy/make-collection
  requirements.yml
  src/debops/_data/templates/projectdir/modern/environment.j2
  src/debops/_data/templates/projectdir/modern/gitignore.j2
  src/debops/_data/templates/projectdir/modern/requirements.yml.j2
  src/debops/_data/templates/projectdir/modern/view.yml.j2
  src/debops/_data/templates/projectdir/modern/view/gitattributes.j2
  src/debops/_data/templates/projectdir/modern/view/gitignore.j2
  src/debops/_data/templates/projectdir/modern/view/inventory/group_vars/all/keyring.yml.j2
  src/debops/_data/templates/projectdir/modern/view/inventory/hosts.j2
  src/debops/projectdir.py
  src/debops/subcommands.py
Labels: change, priority: high, status: completed, tag: DebOps script

#2340 Make sure ansible-lint can find dependent collections
  .github/workflows/ansible-lint.yml
  .gitignore
  Makefile
  ansible/plugins/modules/btrfs_subvolume.py
  ansible/roles/btrfs/library/__init__.py
  ansible/roles/btrfs/tasks/main.yml
  lib/tests/ansible-cfg-generator
Labels: change, priority: high, status: completed, tag: Ansible Collection, tag: Continuous Integration
