Repository debops/debops, pull requests merged in 2023-03, with the labels that each got.

#2291 Support DebOps Collection in a single tarball
  CHANGELOG.rst
  lib/ansible-galaxy/make-collection
Labels: change, priority: high, status: completed, tag: Ansible Collection

#2292 Use better git branch name in collection script
  lib/ansible-galaxy/make-collection
Labels: change, priority: high, status: completed, tag: Ansible Collection

#2298 Various improvements in preseed, ipxe and gitlab_runner roles
  CHANGELOG.rst
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/ipxe/meta/watch-firmware-bullseye
  ansible/roles/ipxe/meta/watch-firmware-buster
  ansible/roles/ipxe/meta/watch-netboot-bullseye
  ansible/roles/ipxe/meta/watch-netboot-buster
  ansible/roles/preseed/defaults/main.yml
Labels: change, priority: high, status: completed, tag: provisioning, tag: upkeep

#2301 [ansible] Use fully-qualified names for ipv4/ipv6/ipaddr/ipwrap
  ansible/playbooks/tools/6to4.yml
  ansible/roles/avahi/defaults/main.yml
  ansible/roles/dhcpd/templates/etc/dhcp/dhcpd.conf.j2
  ansible/roles/dhcpd/templates/etc/dhcp/macro_subnet.j2
  ansible/roles/dnsmasq/defaults/main.yml
  ansible/roles/dnsmasq/templates/etc/dnsmasq.d/dhcp-dns-options.conf.j2
  ansible/roles/dnsmasq/templates/lookup/dnsmasq__interface_configuration.j2
  ansible/roles/dnsmasq/templates/lookup/dnsmasq__tcpwrappers__dependent_allow.j2
  ansible/roles/dropbear_initramfs/defaults/main.yml
  ansible/roles/dropbear_initramfs/templates/etc/initramfs-tools/scripts/local-top/debops_dropbear_initramfs.j2
  ansible/roles/ferm/templates/etc/ferm/rules.d/rule.conf.j2
  ansible/roles/ifupdown/templates/etc/network/interfaces.d/iface.j2
  ansible/roles/ifupdown/templates/lookup/ifupdown__combined_interfaces.j2
  ansible/roles/ifupdown/templates/lookup/ifupdown__ferm__dependent_rules.j2
  ansible/roles/ldap/templates/lookup/ldap__device_ip_addresses.j2
  ansible/roles/libvirt/templates/lookup/network/dnsmasq.xml.j2
  ansible/roles/lxc/templates/etc/default/lxc-net.j2
  ansible/roles/lxc/templates/etc/lxc/lxc-net-dnsmasq.conf.j2
  ansible/roles/mailman/defaults/main/web_configuration.yml
  ansible/roles/netbase/defaults/main.yml
  ansible/roles/nginx/defaults/main.yml
  ansible/roles/nginx/templates/etc/nginx/sites-available/default.conf.j2
  ansible/roles/ntp/templates/etc/ntpd/ntp.conf.j2
  ansible/roles/pdns/defaults/main.yml
  ansible/roles/pki/defaults/main.yml
  ansible/roles/postconf/templates/lookup/postconf__env_capabilities.j2
  ansible/roles/postfix/templates/etc/postfix/main.cf.j2
  ansible/roles/postgresql_server/templates/etc/postgresql/pg_hba.conf.j2
  ansible/roles/postscreen/defaults/main.yml
  ansible/roles/radvd/defaults/main.yml
  ansible/roles/radvd/templates/etc/radvd.conf.j2
  ansible/roles/radvd/templates/lookup/radvd__default_interfaces.j2
  ansible/roles/snmpd/defaults/main.yml
  ansible/roles/tcpwrappers/templates/etc/hosts.allow.d/allow.j2
  ansible/roles/tcpwrappers/templates/etc/hosts.allow.d/ansible_controller.j2
  ansible/roles/tinc/defaults/main.yml
  ansible/roles/tinc/templates/etc/tinc/network/tinc-down.j2
  ansible/roles/tinc/templates/etc/tinc/network/tinc-up.j2
  ansible/roles/unbound/templates/etc/unbound/unbound.conf.d/macros.j2
  ansible/roles/unbound/templates/etc/unbound/unbound.conf.d/zone.conf.j2
  docs/ansible/roles/dnsmasq/defaults-detailed.rst
  docs/ansible/roles/ferm/guides.rst
Labels: change, priority: high, status: completed, tag: upkeep

#2300 [sshd] Don't use "Include" on pre-Bullseye releases
  ansible/roles/sshd/defaults/main.yml
Labels: bug

#2288 [sshd] Fix typos in original configuration
  ansible/roles/sshd/defaults/main.yml
Labels: bug, priority: high, status: completed, tag: SSH

#2198 pki: convert intermediate to PEM
  ansible/roles/pki/files/usr/local/lib/pki/pki-realm
Labels: bug, priority: high, status: completed, tag: Let's Encrypt/ACME, tag: PKI

#2296 [nginx] Add support for toplevel options to the default template
  ansible/roles/nginx/templates/etc/nginx/sites-available/default.conf.j2
  docs/ansible/roles/nginx/defaults-detailed.rst
Labels: new feature, priority: medium, status: completed, tag: nginx

#2266 [apt] set new debian-security generic mirror url for newer Debian
  ansible/roles/apt/defaults/main.yml
Labels: change, priority: medium, status: completed, tag: APT packages

#2278 Add pip/virtual env to resources
  CHANGELOG.rst
  ansible/roles/resources/defaults/main.yml
  ansible/roles/resources/tasks/main.yml
Labels: new feature, priority: medium, status: completed, tag: Python

#2307 [proc_hidepid] Avoid issues with polkit(d)
  ansible/roles/proc_hidepid/defaults/main.yml
  ansible/roles/proc_hidepid/tasks/main.yml
Labels: change, priority: high, status: completed

#2306 Upgrade actions checkout plugin
  .github/workflows/ansible-lint.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/debops-ci-pipeline.yml
  .github/workflows/super-linter.yml
Labels: internal, priority: medium, status: completed, tag: upkeep, tag: Continuous Integration

#2309 [systemd] Flatten list variables in role tasks
  ansible/roles/networkd/tasks/main.yml
  ansible/roles/resolved/tasks/main.yml
  ansible/roles/systemd/tasks/main.yml
Labels: bug, priority: medium, status: completed

#2311 Improvements in 'debops' subcommands
  CHANGELOG.rst
  docs/user-guide/scripts/debops-config/debops-config.rst
  docs/user-guide/scripts/debops-config/man_synopsis.rst
  docs/user-guide/scripts/debops-exec/debops-exec.rst
  docs/user-guide/scripts/debops-exec/index.rst
  docs/user-guide/scripts/debops-exec/man_description.rst
  docs/user-guide/scripts/debops-exec/man_index.rst
  docs/user-guide/scripts/debops-exec/man_synopsis.rst
  docs/user-guide/scripts/debops-run/debops-run.rst
  docs/user-guide/scripts/debops-run/man_synopsis.rst
  docs/user-guide/scripts/debops.rst
  docs/user-guide/scripts/index.rst
  docs/user-guide/scripts/man_seealso.rst
  src/debops/_data/defaults.toml
  src/debops/ansibleplaybookrunner.py
  src/debops/ansiblerunner.py
  src/debops/cli.py
  src/debops/config.py
  src/debops/projectdir.py
  src/debops/subcommands.py
Labels: new feature, priority: medium, status: completed, tag: DebOps script

#2313 [docs] Fix file inclusion in documentation
  docs/ansible/roles/dropbear_initramfs/index.rst
Labels: documentation, priority: medium, status: completed

#2308 * [etc_aliases] condition for save dependent recipients on controller
  ansible/roles/etc_aliases/tasks/main.yml
Labels: change, priority: medium, status: completed

#2305 Manage Ferm rules for OpenSearch
  .gitlab-ci.yml
  ansible/playbooks/service/opensearch.yml
  ansible/roles/opensearch/defaults/main.yml
Labels: new feature, priority: medium, status: completed

#2297 [bind] Add new role
  ansible/playbooks/layer/srv.yml
  ansible/playbooks/service/bind.yml
  ansible/roles/bind/COPYRIGHT
  ansible/roles/bind/defaults/main.yml
  ansible/roles/bind/files/usr/local/sbin/debops-bind-rollkey
  ansible/roles/bind/files/usr/local/sbin/debops-bind-snapshot
  ansible/roles/bind/meta/main.yml
  ansible/roles/bind/tasks/main.yml
  ansible/roles/bind/tasks/main_keys.yml
  ansible/roles/bind/templates/etc/ansible/facts.d/bind.fact.j2
  ansible/roles/bind/templates/etc/bind/debops-bind-rollkey.json.j2
  ansible/roles/bind/templates/etc/bind/named.conf.j2
  ansible/roles/bind/templates/etc/pki/hooks/bind.j2
  ansible/roles/bind/templates/var/lib/bind/views/view/zone/db.zone.j2
  ansible/roles/global_handlers/handlers/bind.yml
  ansible/roles/global_handlers/handlers/main.yml
  ansible/roles/resolvconf/defaults/main.yml
  docs/ansible/role-index.rst
  docs/ansible/roles/bind/backup-restore.rst
  docs/ansible/roles/bind/dns-over-tls-https.rst
  docs/ansible/roles/bind/dnssec.rst
  docs/ansible/roles/bind/getting-started.rst
  docs/ansible/roles/bind/index.rst
  docs/ansible/roles/bind/keys.rst
  docs/ansible/roles/bind/logging.rst
  docs/ansible/roles/bind/main-configuration.rst
  docs/ansible/roles/bind/man_description.rst
  docs/ansible/roles/bind/man_index.rst
  docs/ansible/roles/bind/man_synopsis.rst
  docs/ansible/roles/bind/zones.rst
Labels: new feature, priority: high, status: completed, tag: DNS

#2275 Fix minor typo
  ansible/roles/netbox/defaults/main.yml
Labels: documentation, priority: medium, status: completed

#2265 [ntp] Do not purge any ntp daemon if ntp support is not enabled
  ansible/roles/ntp/tasks/main.yml
Labels: change, priority: medium, status: completed
