Repository debops/debops, changes with the owners that CODEOWNERS names for each.
All owners: @ddebops/core-team, @drybjed, @ypid, @debops/mail-team, @debops/gitlab-team, @debops/system-team, @debops/cloud-team

CODEOWNERS:

# This is a GitHub CODEOWNERS file, which uses a syntax similar to the
# '.gitignore' file to define the reviewers of certain files or directories in
# the repository. Order of the entries is important, the last matching entry
# wins. You can read more about how this file works at
# https://help.github.com/articles/about-codeowners/

# Each person or team that's included as reviewers requires write access to the
# repository. If you want to be included as a reviewer for the roles,
# playbooks, or other code included in the DebOps monorepo, create an issue in
# the https://github.com/debops/debops/ repository. Additional teams will be
# created as needed.

# Global, default reviewers for everything in the repository
*                                                   @ddebops/core-team


/ansible/roles/apache/                              @drybjed @ypid
/ansible/playbooks/service/apache.yml               @drybjed @ypid

/ansible/roles/apt_cacher_ng/                       @drybjed @ypid
/ansible/playbooks/service/apt_cacher_ng.yml        @drybjed @ypid

/ansible/roles/cryptsetup/                          @drybjed @ypid
/ansible/playbooks/service/cryptsetup*.yml          @drybjed @ypid

/ansible/roles/debops_api/                          @drybjed @ypid
/ansible/playbooks/service/debops_api.yml           @drybjed @ypid

/ansible/roles/dovecot/                             @debops/mail-team
/ansible/playbooks/service/dovecot.yml              @debops/mail-team

/ansible/roles/gitlab*/                             @debops/gitlab-team
/ansible/playbooks/service/gitlab*.yml              @debops/gitlab-team

/ansible/roles/grub/                                @debops/system-team
/ansible/playbooks/service/grub.yml                 @debops/system-team

/ansible/roles/mailman/                             @debops/mail-team
/ansible/playbooks/service/mailman.yml              @debops/mail-team

/ansible/roles/nullmailer/                          @debops/mail-team
/ansible/playbooks/service/nullmailer.yml           @debops/mail-team

/ansible/roles/opendkim/                            @debops/mail-team
/ansible/playbooks/service/opendkim.yml             @debops/mail-team

/ansible/roles/owncloud/                            @debops/cloud-team
/ansible/playbooks/service/owncloud*.yml            @debops/cloud-team

/ansible/roles/persistent_paths/                    @drybjed @ypid
/ansible/playbooks/service/persisten_paths.yml      @drybjed @ypid

/ansible/roles/postconf/                            @debops/mail-team
/ansible/playbooks/service/postconf.yml             @debops/mail-team

/ansible/roles/postfix/                             @debops/mail-team
/ansible/playbooks/service/postfix.yml              @debops/mail-team

/ansible/roles/postscreen/                          @debops/mail-team
/ansible/playbooks/service/postscreen.yml           @debops/mail-team

/ansible/roles/postwhite/                           @debops/mail-team
/ansible/playbooks/service/postwhite.yml            @debops/mail-team

/ansible/roles/saslauthd/                           @debops/mail-team
/ansible/playbooks/service/saslauthd.yml            @debops/mail-team

/ansible/roles/sysctl/                              @drybjed @ypid
/ansible/playbooks/service/sysctl.yml               @drybjed @ypid

/ansible/roles/unbound/                             @debops/mail-team
/ansible/playbooks/service/unbound.yml              @debops/mail-team

Allow to enable or disable the Gitlab backup procedure
  ansible/roles/gitlab/defaults/main.yml
  ansible/roles/gitlab/tasks/configure_gitlab_ce.yml
Owners: @debops/gitlab-team

Change doc position
  CHANGELOG.rst
Owners: @ddebops/core-team

Reorder changelog hint
  CHANGELOG.rst
Owners: @ddebops/core-team

Revert "Fix gitlab.fact exec permissions"
  ansible/roles/gitlab/tasks/main.yml
Owners: @debops/gitlab-team

Use bool filter instead of default, because the variable is already defined
  ansible/roles/gitlab/tasks/configure_gitlab_ce.yml
Owners: @debops/gitlab-team

Fix typo Ups....
  CHANGELOG.rst
Owners: @ddebops/core-team

[debops.ferm] Update default ruleset to allow DHCPv6 multicast solicits
  ansible/roles/ferm/defaults/main.yml
Owners: @ddebops/core-team

Remove extraneous whitespace
  ansible/roles/ferm/defaults/main.yml
Owners: @ddebops/core-team

[gitlab_runner] Improve GitLab API support
  CHANGELOG.rst
  ansible/roles/gitlab_runner/defaults/main.yml
  docs/ansible/roles/gitlab_runner/getting-started.rst
Owners: @ddebops/core-team, @debops/gitlab-team

[gitlab_runner] Fix issue with ~/.bash_logout
  CHANGELOG.rst
  ansible/roles/gitlab_runner/tasks/main.yml
Owners: @ddebops/core-team, @debops/gitlab-team

[gitlab_runner] Improve GitLab API support
  CHANGELOG.rst
  ansible/roles/debops.gitlab_runner/defaults/main.yml
  docs/ansible/roles/debops.gitlab_runner/getting-started.rst
Owners: @ddebops/core-team

[gitlab_runner] Fix issue with ~/.bash_logout
  CHANGELOG.rst
  ansible/roles/debops.gitlab_runner/tasks/main.yml
Owners: @ddebops/core-team

[gitlab_runner] Fix issue with ~/.bash_logout
  CHANGELOG.rst
  ansible/roles/debops.gitlab_runner/tasks/main.yml
Owners: @ddebops/core-team

[gitlab_runner] Fix issue with ~/.bash_logout
  CHANGELOG.rst
  ansible/roles/debops.gitlab_runner/tasks/main.yml
Owners: @ddebops/core-team

Allow to enable or disable the Gitlab backup procedure
  CHANGELOG.rst
  ansible/roles/debops.gitlab/defaults/main.yml
  ansible/roles/debops.gitlab/tasks/configure_gitlab_ce.yml
Owners: @ddebops/core-team

Use bool filter instead of default, because the variable is already defined
  ansible/roles/debops.gitlab/tasks/configure_gitlab_ce.yml
Owners: @ddebops/core-team

Allow to enable or disable the Gitlab backup procedure
  CHANGELOG.rst
  ansible/roles/debops.gitlab/defaults/main.yml
  ansible/roles/debops.gitlab/tasks/configure_gitlab_ce.yml
Owners: @ddebops/core-team

Use bool filter instead of default, because the variable is already defined
  ansible/roles/debops.gitlab/tasks/configure_gitlab_ce.yml
Owners: @ddebops/core-team

Allow to enable or disable the Gitlab backup procedure
  CHANGELOG.rst
  ansible/roles/debops.gitlab/defaults/main.yml
  ansible/roles/debops.gitlab/tasks/configure_gitlab_ce.yml
Owners: @ddebops/core-team

Use bool filter instead of default, because the variable is already defined
  ansible/roles/debops.gitlab/tasks/configure_gitlab_ce.yml
Owners: @ddebops/core-team

[ferm] Accept DHCPv6 multicast solicit packets
  ansible/roles/ferm/defaults/main.yml
Owners: @ddebops/core-team

Convert 'python/raw' "subrole" to import_role task
  ansible/playbooks/bootstrap-ldap.yml
  ansible/playbooks/bootstrap.yml
  ansible/playbooks/service/python_raw.yml
  ansible/roles/python/raw/defaults
  ansible/roles/python/tasks/main_raw.yml
Owners: @ddebops/core-team

[ferm] Accept DHCPv6 multicast solicit packets
  CHANGELOG.rst
  ansible/roles/debops.ferm/defaults/main.yml
Owners: @ddebops/core-team

[ferm] Accept DHCPv6 multicast solicit packets
  CHANGELOG.rst
  ansible/roles/debops.ferm/defaults/main.yml
Owners: @ddebops/core-team

[ferm] Accept DHCPv6 multicast solicit packets
  CHANGELOG.rst
  ansible/roles/debops.ferm/defaults/main.yml
Owners: @ddebops/core-team

[etc_aliases] Convert '/env' role to import_role
  ansible/playbooks/service/etc_aliases.yml
  ansible/playbooks/service/postfix.yml
  ansible/roles/etc_aliases/env/defaults
  ansible/roles/etc_aliases/tasks/main_env.yml
  ansible/roles/etc_aliases/templates/lookup/etc_aliases__secret__directories.j2
Owners: @ddebops/core-team, @debops/mail-team

[php] Convert '/env' role to 'import_role'
  ansible/playbooks/service/dokuwiki.yml
  ansible/playbooks/service/icinga_web.yml
  ansible/playbooks/service/librenms.yml
  ansible/playbooks/service/owncloud-apache.yml
  ansible/playbooks/service/owncloud-nginx.yml
  ansible/playbooks/service/php.yml
  ansible/playbooks/service/phpipam.yml
  ansible/playbooks/service/phpmyadmin.yml
  ansible/playbooks/service/roundcube.yml
  ansible/playbooks/service/wpcli.yml
  ansible/roles/php/env/defaults
  ansible/roles/php/tasks/main_env.yml
Owners: @ddebops/core-team, @debops/cloud-team

[apache] Convert '/env' role to 'import_role'
  ansible/playbooks/service/apache.yml
  ansible/playbooks/service/owncloud-apache.yml
  ansible/roles/apache/env/defaults
  ansible/roles/apache/env/templates
  ansible/roles/apache/tasks/main_env.yml
Owners: @drybjed, @ypid, @debops/cloud-team

[dnsmasq] Convert '/env' role to 'import_role'
  ansible/playbooks/service/dnsmasq-persistent_paths.yml
  ansible/playbooks/service/dnsmasq-plain.yml
  ansible/roles/dnsmasq/env/defaults
  ansible/roles/dnsmasq/env/templates
  ansible/roles/dnsmasq/tasks/main_env.yml
Owners: @ddebops/core-team

[dovecot] Convert '/env' role to 'import_role'
  ansible/playbooks/service/dovecot.yml
  ansible/roles/dovecot/env/default/main.yml
  ansible/roles/dovecot/tasks/main_env.yml
Owners: @debops/mail-team

[elasticsearch] Convert '/env' role to import_role
  ansible/playbooks/service/elasticsearch.yml
  ansible/roles/elasticsearch/env/defaults
  ansible/roles/elasticsearch/tasks/main_env.yml
  ansible/roles/elasticsearch/templates/lookup/elasticsearch__secret__directories.j2
Owners: @ddebops/core-team

[gitlab] Convert '/env' role to 'import_role'
  ansible/playbooks/service/gitlab.yml
  ansible/roles/gitlab/env/defaults
  ansible/roles/gitlab/tasks/main_env.yml
Owners: @debops/gitlab-team

[icinga] Convert '/env' role to 'import_role'
  ansible/playbooks/service/icinga.yml
  ansible/roles/icinga/env/defaults
  ansible/roles/icinga/env/templates
  ansible/roles/icinga/tasks/main_env.yml
Owners: @ddebops/core-team

[ifupdown] Convert '/env' role to 'import_role'
  ansible/playbooks/service/ifupdown.yml
  ansible/roles/ifupdown/env/defaults
  ansible/roles/ifupdown/env/templates
  ansible/roles/ifupdown/tasks/main_env.yml
Owners: @ddebops/core-team

[kibana] Convert '/env' role to 'import_role'
  ansible/playbooks/service/kibana.yml
  ansible/roles/kibana/env/defaults
  ansible/roles/kibana/tasks/main_env.yml
  ansible/roles/kibana/templates/lookup/kibana__secret__directories.j2
Owners: @ddebops/core-team

[mcli] Convert '/env' role to 'import_role'
  ansible/playbooks/service/mcli.yml
  ansible/roles/mcli/env/defaults
  ansible/roles/mcli/env/templates
  ansible/roles/mcli/tasks/main_env.yml
Owners: @ddebops/core-team

[minio] Convert '/env' role to 'import_role'
  ansible/playbooks/service/minio.yml
  ansible/roles/minio/env/defaults
  ansible/roles/minio/env/templates
  ansible/roles/minio/tasks/main_env.yml
Owners: @ddebops/core-team

[sysfs] Convert '/env' role to 'import_role'
  ansible/playbooks/service/minio.yml
  ansible/playbooks/service/redis_server.yml
  ansible/playbooks/service/sysfs.yml
  ansible/roles/sysfs/env/defaults
  ansible/roles/sysfs/env/templates
  ansible/roles/sysfs/tasks/main_env.yml
Owners: @ddebops/core-team

[opendkim] Convert '/env' role to 'import_role'
  ansible/playbooks/service/opendkim.yml
  ansible/roles/opendkim/env/defaults
  ansible/roles/opendkim/env/templates
  ansible/roles/opendkim/tasks/main_env.yml
Owners: @debops/mail-team

[owncloud] Convert '/env' role to 'import_role'
  ansible/playbooks/service/owncloud-apache.yml
  ansible/playbooks/service/owncloud-nginx.yml
  ansible/roles/owncloud/env/defaults
  ansible/roles/owncloud/env/templates
  ansible/roles/owncloud/tasks/main_env.yml
Owners: @debops/cloud-team
