Repository debops/debops, changes with the owners that CODEOWNERS names for each.
All owners: @ddebops/core-team, @drybjed, @ypid, @debops/mail-team, @debops/gitlab-team, @debops/system-team, @debops/cloud-team

CODEOWNERS:

# This is a GitHub CODEOWNERS file, which uses a syntax similar to the
# '.gitignore' file to define the reviewers of certain files or directories in
# the repository. Order of the entries is important, the last matching entry
# wins. You can read more about how this file works at
# https://help.github.com/articles/about-codeowners/

# Each person or team that's included as reviewers requires write access to the
# repository. If you want to be included as a reviewer for the roles,
# playbooks, or other code included in the DebOps monorepo, create an issue in
# the https://github.com/debops/debops/ repository. Additional teams will be
# created as needed.

# Global, default reviewers for everything in the repository
*                                                   @ddebops/core-team


/ansible/roles/apache/                              @drybjed @ypid
/ansible/playbooks/service/apache.yml               @drybjed @ypid

/ansible/roles/apt_cacher_ng/                       @drybjed @ypid
/ansible/playbooks/service/apt_cacher_ng.yml        @drybjed @ypid

/ansible/roles/cryptsetup/                          @drybjed @ypid
/ansible/playbooks/service/cryptsetup*.yml          @drybjed @ypid

/ansible/roles/debops_api/                          @drybjed @ypid
/ansible/playbooks/service/debops_api.yml           @drybjed @ypid

/ansible/roles/dovecot/                             @debops/mail-team
/ansible/playbooks/service/dovecot.yml              @debops/mail-team

/ansible/roles/gitlab*/                             @debops/gitlab-team
/ansible/playbooks/service/gitlab*.yml              @debops/gitlab-team

/ansible/roles/grub/                                @debops/system-team
/ansible/playbooks/service/grub.yml                 @debops/system-team

/ansible/roles/mailman/                             @debops/mail-team
/ansible/playbooks/service/mailman.yml              @debops/mail-team

/ansible/roles/nullmailer/                          @debops/mail-team
/ansible/playbooks/service/nullmailer.yml           @debops/mail-team

/ansible/roles/opendkim/                            @debops/mail-team
/ansible/playbooks/service/opendkim.yml             @debops/mail-team

/ansible/roles/owncloud/                            @debops/cloud-team
/ansible/playbooks/service/owncloud*.yml            @debops/cloud-team

/ansible/roles/persistent_paths/                    @drybjed @ypid
/ansible/playbooks/service/persisten_paths.yml      @drybjed @ypid

/ansible/roles/postconf/                            @debops/mail-team
/ansible/playbooks/service/postconf.yml             @debops/mail-team

/ansible/roles/postfix/                             @debops/mail-team
/ansible/playbooks/service/postfix.yml              @debops/mail-team

/ansible/roles/postscreen/                          @debops/mail-team
/ansible/playbooks/service/postscreen.yml           @debops/mail-team

/ansible/roles/postwhite/                           @debops/mail-team
/ansible/playbooks/service/postwhite.yml            @debops/mail-team

/ansible/roles/saslauthd/                           @debops/mail-team
/ansible/playbooks/service/saslauthd.yml            @debops/mail-team

/ansible/roles/sysctl/                              @drybjed @ypid
/ansible/playbooks/service/sysctl.yml               @drybjed @ypid

/ansible/roles/unbound/                             @debops/mail-team
/ansible/playbooks/service/unbound.yml              @debops/mail-team

Reorder 'machine' role in 'common.yml' playbook
  ansible/playbooks/bootstrap-ldap.yml
  ansible/playbooks/common.yml
Owners: @ddebops/core-team

Reorder 'machine' role in 'common.yml' playbook
  CHANGELOG.rst
  ansible/playbooks/bootstrap-ldap.yml
  ansible/playbooks/common.yml
Owners: @ddebops/core-team

Reorder 'machine' role in 'common.yml' playbook
  CHANGELOG.rst
  ansible/playbooks/bootstrap-ldap.yml
  ansible/playbooks/common.yml
Owners: @ddebops/core-team

Reorder 'machine' role in 'common.yml' playbook
  CHANGELOG.rst
  ansible/playbooks/bootstrap-ldap.yml
  ansible/playbooks/common.yml
Owners: @ddebops/core-team

[ipxe] Update Debian Buster, Stretch installers
  CHANGELOG.rst
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/ipxe/meta/watch-firmware-buster
  ansible/roles/ipxe/meta/watch-firmware-stretch
  ansible/roles/ipxe/meta/watch-netboot-buster
  ansible/roles/ipxe/meta/watch-netboot-stretch
Owners: @ddebops/core-team

[ipxe] Update Debian Buster, Stretch installers
  CHANGELOG.rst
  ansible/roles/ipxe/defaults/main.yml
  ansible/roles/ipxe/meta/watch-firmware-buster
  ansible/roles/ipxe/meta/watch-firmware-stretch
  ansible/roles/ipxe/meta/watch-netboot-buster
  ansible/roles/ipxe/meta/watch-netboot-stretch
Owners: @ddebops/core-team

[ipxe] Update Debian Buster, Stretch installers
  CHANGELOG.rst
  ansible/roles/debops.ipxe/defaults/main.yml
  ansible/roles/debops.ipxe/meta/watch-firmware-buster
  ansible/roles/debops.ipxe/meta/watch-firmware-stretch
  ansible/roles/debops.ipxe/meta/watch-netboot-buster
  ansible/roles/debops.ipxe/meta/watch-netboot-stretch
Owners: @ddebops/core-team

[ipxe] Update Debian Buster, Stretch installers
  CHANGELOG.rst
  ansible/roles/debops.ipxe/defaults/main.yml
  ansible/roles/debops.ipxe/meta/watch-firmware-buster
  ansible/roles/debops.ipxe/meta/watch-firmware-stretch
  ansible/roles/debops.ipxe/meta/watch-netboot-buster
  ansible/roles/debops.ipxe/meta/watch-netboot-stretch
Owners: @ddebops/core-team

[roundcube] Support installation from private repo
  CHANGELOG.rst
  ansible/playbooks/service/roundcube.yml
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/roundcube/meta/main.yml
  ansible/roles/roundcube/tasks/deploy_roundcube.yml
  docs/ansible/roles/roundcube/getting-started.rst
Owners: @ddebops/core-team

[roundcube] Add 'tslib' NPM dependency
  ansible/roles/roundcube/defaults/main.yml
Owners: @ddebops/core-team

[roundcube] Update installed version to v1.4.2
  CHANGELOG.rst
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/roundcube/meta/watch-roundcubemail
Owners: @ddebops/core-team

[roundcube] Support installation from private repo
  CHANGELOG.rst
  ansible/playbooks/service/roundcube.yml
  ansible/roles/roundcube/defaults/main.yml
  ansible/roles/roundcube/meta/main.yml
  ansible/roles/roundcube/tasks/deploy_roundcube.yml
  docs/ansible/roles/roundcube/getting-started.rst
Owners: @ddebops/core-team

[roundcube] Add 'tslib' NPM dependency
  CHANGELOG.rst
  ansible/roles/roundcube/defaults/main.yml
Owners: @ddebops/core-team

[docs] Fix spelling
  ansible/roles/apache/defaults/main.yml
Owners: @drybjed, @ypid

[docs] cryptsetup: Adding second boot disk to FDE with same passphrase
  docs/ansible/roles/cryptsetup/defaults-detailed.rst
Owners: @ddebops/core-team

[firejail] Ansible 2.9 support
  ansible/debops-contrib-playbooks/service/firejail.yml
  ansible/roles/debops-contrib.firejail/tasks/main.yml
Owners: @ddebops/core-team

[docs] Fix typo
  CHANGELOG.rst
Owners: @ddebops/core-team

[resources] Add timestamp example for the Ansible file module
  ansible/roles/resources/defaults/main.yml
Owners: @ddebops/core-team

[resources] Add support for the `access_time` and `modification_time`
  CHANGELOG.rst
  ansible/roles/resources/defaults/main.yml
  ansible/roles/resources/tasks/main.yml
Owners: @ddebops/core-team

[resources] No special ISO 8601 profile is being used
  ansible/roles/resources/defaults/main.yml
Owners: @ddebops/core-team

[cryptsetup] Improve second boot disk to FDE with same passphrase docs
  docs/ansible/roles/cryptsetup/defaults-detailed.rst
Owners: @ddebops/core-team

[cryptsetup] Improve spelling in docs
  docs/ansible/roles/cryptsetup/guides.rst
Owners: @ddebops/core-team

[etesync] Mention that pip is used to install etesync for now
  ansible/roles/etesync/defaults/main.yml
Owners: @ddebops/core-team

[tinyproxy] Coding style: Fix indention of default variable
  ansible/roles/tinyproxy/defaults/main.yml
Owners: @ddebops/core-team

[cryptsetup] Update docs, mention LUKS2
  ansible/roles/cryptsetup/COPYRIGHT
  docs/ansible/roles/cryptsetup/defaults-detailed.rst
  docs/ansible/roles/cryptsetup/guides.rst
  docs/ansible/roles/cryptsetup/upgrade.rst
Owners: @drybjed, @ypid, @ddebops/core-team

[resources] Detailed docs for `access_time` and `modification_time`
  docs/ansible/roles/resources/defaults-detailed.rst
Owners: @ddebops/core-team

[docs] Fix copy paste mistake
  docs/ansible/roles/cryptsetup/defaults-detailed.rst
Owners: @ddebops/core-team

[docs] Fix spelling
  ansible/roles/apache/defaults/main.yml
Owners: @drybjed, @ypid

[firejail] Ansible 2.9 support
  ansible/debops-contrib-playbooks/service/firejail.yml
  ansible/roles/debops-contrib.firejail/tasks/main.yml
Owners: @ddebops/core-team

[resources] Add support for the `access_time` and `modification_time`
  CHANGELOG.rst
  ansible/roles/resources/defaults/main.yml
  ansible/roles/resources/tasks/main.yml
Owners: @ddebops/core-team

[resources] No special ISO 8601 profile is being used
  ansible/roles/resources/defaults/main.yml
Owners: @ddebops/core-team

[resources] Add timestamp example for the Ansible file module
  ansible/roles/resources/defaults/main.yml
Owners: @ddebops/core-team

[resources] Detailed docs for `access_time` and `modification_time`
  docs/ansible/roles/resources/defaults-detailed.rst
Owners: @ddebops/core-team

[docs] cryptsetup: Adding second boot disk to FDE with same passphrase
  docs/ansible/roles/cryptsetup/defaults-detailed.rst
Owners: @ddebops/core-team

[cryptsetup] Improve second boot disk to FDE with same passphrase docs
  docs/ansible/roles/cryptsetup/defaults-detailed.rst
Owners: @ddebops/core-team

[cryptsetup] Update docs, mention LUKS2
  ansible/roles/cryptsetup/COPYRIGHT
  docs/ansible/roles/cryptsetup/defaults-detailed.rst
  docs/ansible/roles/cryptsetup/guides.rst
  docs/ansible/roles/cryptsetup/upgrade.rst
Owners: @drybjed, @ypid, @ddebops/core-team

[cryptsetup] Improve spelling in docs
  docs/ansible/roles/cryptsetup/guides.rst
Owners: @ddebops/core-team

[docs] Fix copy paste mistake
  docs/ansible/roles/cryptsetup/defaults-detailed.rst
Owners: @ddebops/core-team

[docs] Fix typo
  CHANGELOG.rst
Owners: @ddebops/core-team

[tinyproxy] Coding style: Fix indention of default variable
  ansible/roles/tinyproxy/defaults/main.yml
Owners: @ddebops/core-team
