Repository debops/debops, changes with the owners that CODEOWNERS names for each.
All owners: @ddebops/core-team, @drybjed, @ypid, @debops/mail-team, @debops/gitlab-team, @debops/system-team, @debops/cloud-team

[postfix] Convert '/env' role to 'import_role'
  ansible/playbooks/service/dovecot.yml
  ansible/playbooks/service/mailman.yml
  ansible/playbooks/service/opendkim.yml
  ansible/playbooks/service/postconf.yml
  ansible/playbooks/service/postfix.yml
  ansible/playbooks/service/postldap.yml
  ansible/playbooks/service/postscreen.yml
  ansible/playbooks/service/postwhite.yml
  ansible/playbooks/service/smstools.yml
  ansible/roles/postfix/env/defaults
  ansible/roles/postfix/env/templates
  ansible/roles/postfix/tasks/main_env.yml
Owners: @debops/mail-team, @ddebops/core-team

[postconf] Convert '/env' role to 'import_role'
  ansible/playbooks/service/postconf.yml
  ansible/roles/postconf/env/defaults
  ansible/roles/postconf/env/templates
  ansible/roles/postconf/tasks/main_env.yml
Owners: @debops/mail-team

[rabbitmq_server] Convert '/env' role
  ansible/playbooks/service/rabbitmq_management.yml
  ansible/playbooks/service/rabbitmq_server.yml
  ansible/roles/rabbitmq_server/env/defaults
  ansible/roles/rabbitmq_server/tasks/main_env.yml
  ansible/roles/rabbitmq_server/templates/lookup/rabbitmq_server__secret__directories.j2
Owners: @ddebops/core-team

[redis_sentinel] Convert '/env' role
  ansible/playbooks/service/redis_sentinel.yml
  ansible/roles/redis_sentinel/env/defaults
  ansible/roles/redis_sentinel/env/templates
  ansible/roles/redis_sentinel/tasks/main_env.yml
Owners: @ddebops/core-team

[redis_server] Convert '/env' role
  ansible/playbooks/service/redis_server.yml
  ansible/roles/redis_server/env/defaults
  ansible/roles/redis_server/env/templates
  ansible/roles/redis_server/tasks/main_env.yml
Owners: @ddebops/core-team

[tinc] Convert '/env' role to 'import_role'
  ansible/playbooks/service/tinc-persistent_paths.yml
  ansible/playbooks/service/tinc-plain.yml
  ansible/roles/tinc/env/defaults
  ansible/roles/tinc/env/templates
  ansible/roles/tinc/tasks/main_env.yml
Owners: @ddebops/core-team

[nullmailer] Convert '/env' role to 'import_role'
  ansible/playbooks/common.yml
  ansible/playbooks/service/nullmailer.yml
  ansible/roles/nullmailer/env/defaults
  ansible/roles/nullmailer/tasks/main_env.yml
Owners: @ddebops/core-team, @debops/mail-team

[pki] Convert '/env' role to 'import_role'
  ansible/playbooks/bootstrap-ldap.yml
  ansible/playbooks/common.yml
  ansible/playbooks/service/pki.yml
  ansible/roles/pki/env/defaults
  ansible/roles/pki/tasks/main_env.yml
  ansible/roles/pki/templates/lookup/pki_env_secret_directories.j2
Owners: @ddebops/core-team

[sshd] Convert '/env' role to 'import_role'
  ansible/playbooks/bootstrap-ldap.yml
  ansible/playbooks/common.yml
  ansible/playbooks/service/sshd.yml
  ansible/roles/sshd/tasks/main_env.yml
Owners: @ddebops/core-team

Convert '/env' roles in contrib roles/playbooks
  ansible/debops-contrib-playbooks/service/dnsmasq.yml
  ansible/debops-contrib-playbooks/service/volkszaehler-apache.yml
  ansible/debops-contrib-playbooks/service/volkszaehler-nginx.yml
  ansible/roles/debops-contrib.volkszaehler/docs/playbooks/volkszaehler-apache.yml
  ansible/roles/debops-contrib.volkszaehler/docs/playbooks/volkszaehler-nginx.yml
  ansible/roles/debops-contrib.volkszaehler/env/defaults
  ansible/roles/debops-contrib.volkszaehler/tasks/main_env.yml
Owners: @ddebops/core-team

Update Changelog
  CHANGELOG.rst
Owners: @ddebops/core-team

Update Ansible Collection generation script
  lib/ansible-galaxy/make-collection
Owners: @ddebops/core-team

[docs] Update outdated examples in documentation
  docs/ansible/roles/apt_cacher_ng/examples/apt_cacher_ng-apparmor.yml
  docs/ansible/roles/dnsmasq/examples/dnsmasq-apparmor.yml
  docs/ansible/roles/elasticsearch/examples/application-playbook.yml
  docs/ansible/roles/etc_aliases/examples/application-playbook.yml
  docs/ansible/roles/kibana/examples/application-playbook.yml
  docs/ansible/roles/postfix/examples/application-playbook.yml
  docs/ansible/roles/rabbitmq_server/examples/application-playbook.yml
Owners: @ddebops/core-team

[icinga_web] Update Icinga Director to v1.7.2
  CHANGELOG.rst
  ansible/roles/icinga_web/defaults/main.yml
  ansible/roles/icinga_web/tasks/main.yml
  ansible/roles/icinga_web/templates/etc/systemd/system/icinga-director.service.j2
  ansible/roles/icinga_web/templates/etc/systemd/system/icinga2-director-jobs.service.j2
Owners: @ddebops/core-team

[icinga_web] Update watch files
  ansible/roles/icinga_web/meta/watch-businessprocess
  ansible/roles/icinga_web/meta/watch-cube
  ansible/roles/icinga_web/meta/watch-director
  ansible/roles/icinga_web/meta/watch-elasticsearch
  ansible/roles/icinga_web/meta/watch-generictts
  ansible/roles/icinga_web/meta/watch-grafana
  ansible/roles/icinga_web/meta/watch-graphite
  ansible/roles/icinga_web/meta/watch-incubator
  ansible/roles/icinga_web/meta/watch-ipl
  ansible/roles/icinga_web/meta/watch-map
  ansible/roles/icinga_web/meta/watch-pnp
  ansible/roles/icinga_web/meta/watch-reactbundle
  ansible/roles/icinga_web/meta/watch-toplevelview
Owners: @ddebops/core-team

[icinga] Accept HTTP 422 status code from Director
  ansible/roles/icinga/tasks/main.yml
Owners: @ddebops/core-team

Use 'inventory_hostname' in password storage paths
  CHANGELOG.rst
  ansible/roles/apt_cacher_ng/defaults/main.yml
  ansible/roles/librenms/tasks/main.yml
  ansible/roles/mailman/tasks/main.yml
  ansible/roles/nginx/defaults/main.yml
  ansible/roles/owncloud/defaults/main.yml
  ansible/roles/phpipam/defaults/main.yml
  ansible/roles/postgresql_server/defaults/main.yml
  ansible/roles/preseed/defaults/main.yml
  ansible/roles/roundcube/defaults/main.yml
  docs/news/upgrades.rst
Owners: @ddebops/core-team, @drybjed, @ypid, @debops/mail-team, @debops/cloud-team

[php] Prefer PHP 7.3 packages if available
  CHANGELOG.rst
  ansible/roles/php/defaults/main.yml
  docs/ansible/roles/php/getting-started.rst
Owners: @ddebops/core-team

[php] Prefer PHP 7.3 packages if available
  CHANGELOG.rst
  ansible/roles/debops.php/defaults/main.yml
  docs/ansible/roles/debops.php/getting-started.rst
Owners: @ddebops/core-team

[php] Prefer PHP 7.3 packages if available
  CHANGELOG.rst
  ansible/roles/debops.php/defaults/main.yml
  docs/ansible/roles/debops.php/getting-started.rst
Owners: @ddebops/core-team

Improve output of 'make versions' command
  ansible/roles/docker_gen/meta/watch-docker-gen
  ansible/roles/docker_registry/meta/watch-docker-registry
  ansible/roles/dokuwiki/meta/watch-dokuwiki
  ansible/roles/etherpad/meta/watch-etherpad-lite
  ansible/roles/gitlab/meta/watch-gitlab
  ansible/roles/hashicorp/meta/watch-atlas-upload-cli
  ansible/roles/hashicorp/meta/watch-consul
  ansible/roles/hashicorp/meta/watch-consul-replicate
  ansible/roles/hashicorp/meta/watch-consul-template
  ansible/roles/hashicorp/meta/watch-docker-base
  ansible/roles/hashicorp/meta/watch-docker-basetool
  ansible/roles/hashicorp/meta/watch-envconsul
  ansible/roles/hashicorp/meta/watch-nomad
  ansible/roles/hashicorp/meta/watch-otto
  ansible/roles/hashicorp/meta/watch-packer
  ansible/roles/hashicorp/meta/watch-serf
  ansible/roles/hashicorp/meta/watch-terraform
  ansible/roles/hashicorp/meta/watch-vault
  ansible/roles/hashicorp/meta/watch-vault-ssh-helper
  ansible/roles/ipxe/meta/watch-firmware-buster
  ansible/roles/ipxe/meta/watch-firmware-jessie
  ansible/roles/ipxe/meta/watch-firmware-stretch
  ansible/roles/ipxe/meta/watch-netboot-buster
  ansible/roles/ipxe/meta/watch-netboot-jessie
  ansible/roles/ipxe/meta/watch-netboot-stretch
  ansible/roles/librenms/meta/watch-librenms
  ansible/roles/lxd/meta/watch-lxd
  ansible/roles/mcli/meta/watch-mc
  ansible/roles/minio/meta/watch-minio
  ansible/roles/netbox/meta/watch-netbox
  ansible/roles/owncloud/meta/watch-nextcloud
  ansible/roles/php/meta/watch-composer
  ansible/roles/phpipam/meta/watch-phpipam
  ansible/roles/roundcube/meta/watch-roundcubemail
  ansible/roles/rstudio_server/meta/watch-rstudio
  ansible/roles/wpcli/meta/watch-wp-cli
  ansible/roles/yadm/meta/watch-yadm
  lib/tests/check-watch
Owners: @ddebops/core-team, @debops/gitlab-team, @debops/cloud-team

[debops-contrib.tor] Change inventory file prefix from none to to .yml
  ansible/roles/debops-contrib.tor/docs/getting-started.rst
  ansible/roles/debops-contrib.tor/docs/inventory/debops_service_tor_global_role_vars.yml
Owners: @ddebops/core-team

[debops-contrib.x2go_server] Change inventory file prefix from to .yml
  ansible/roles/debops-contrib.x2go_server/docs/getting-started.rst
  ansible/roles/debops-contrib.x2go_server/docs/inventory/debops_service_x2go_server_global_role_vars.yml
Owners: @ddebops/core-team

[etckeeper] Ignore etesync-server/secret.txt
  ansible/roles/etckeeper/defaults/main.yml
Owners: @ddebops/core-team

[netbox] No need to use `&&` with `set -o errexit`
  ansible/roles/netbox/tasks/main.yml
Owners: @ddebops/core-team

[owncloud] Update main supported distro to buster
  ansible/roles/owncloud/meta/main.yml
Owners: @debops/cloud-team

[docs] Move volkszaehler to end user applications in role index
  docs/ansible/role-index.rst
Owners: @ddebops/core-team

[docs] Fix typos
  ansible/roles/docker_server/defaults/main.yml
  ansible/roles/netbox/defaults/main.yml
  docs/ansible/roles/docker_registry/defaults-detailed.rst
  docs/ansible/roles/mount/defaults-detailed.rst
Owners: @ddebops/core-team

[python] Expose Python version in Ansible local facts
  ansible/roles/python/templates/etc/ansible/facts.d/python.fact.j2
Owners: @ddebops/core-team

[resources] File deletion should be done before creation
  ansible/roles/resources/tasks/main.yml
Owners: @ddebops/core-team

[resources] Add Ansible tag role::resources:commands
  ansible/roles/resources/tasks/main.yml
  ansible/roles/resources/tasks/shell_commands.yml
  docs/ansible/roles/resources/getting-started.rst
Owners: @ddebops/core-team

[python] Fix coding style: E501 line too long (171 > 79 characters)
  ansible/roles/python/templates/etc/ansible/facts.d/python.fact.j2
Owners: @ddebops/core-team

[icinga] Also listen on IPv6 addresses
  CHANGELOG.rst
  ansible/roles/icinga/defaults/main.yml
Owners: @ddebops/core-team

[python] Switch to `python3 --version` calls instead of platform module
  ansible/roles/python/templates/etc/ansible/facts.d/python.fact.j2
Owners: @ddebops/core-team

[python] Make local facts resilient to absence of python2
  ansible/roles/python/templates/etc/ansible/facts.d/python.fact.j2
Owners: @ddebops/core-team

[docker_registry] Support simple authentication schema w/o token auth
  CHANGELOG.rst
  ansible/roles/docker_registry/defaults/main.yml
Owners: @ddebops/core-team

[rsyslog] Fix systemd-tmpfiles permissions for /var/log
  ansible/roles/rsyslog/tasks/main.yml
Owners: @ddebops/core-team

[ntp] Chrony will not listen on udp control port on loopback anymore
  CHANGELOG.rst
  ansible/roles/ntp/templates/etc/chrony/chrony.conf.j2
Owners: @ddebops/core-team

[ntp] Support `ntp__listen` value ``*`` for Chrony
  CHANGELOG.rst
  ansible/roles/ntp/templates/etc/chrony/chrony.conf.j2
Owners: @ddebops/core-team

[ntp] Fix typo
  ansible/roles/ntp/templates/etc/chrony/chrony.conf.j2
Owners: @ddebops/core-team

CODEOWNERS:

# This is a GitHub CODEOWNERS file, which uses a syntax similar to the
# '.gitignore' file to define the reviewers of certain files or directories in
# the repository. Order of the entries is important, the last matching entry
# wins. You can read more about how this file works at
# https://help.github.com/articles/about-codeowners/

# Each person or team that's included as reviewers requires write access to the
# repository. If you want to be included as a reviewer for the roles,
# playbooks, or other code included in the DebOps monorepo, create an issue in
# the https://github.com/debops/debops/ repository. Additional teams will be
# created as needed.

# Global, default reviewers for everything in the repository
*                                                   @ddebops/core-team


/ansible/roles/apache/                              @drybjed @ypid
/ansible/playbooks/service/apache.yml               @drybjed @ypid

/ansible/roles/apt_cacher_ng/                       @drybjed @ypid
/ansible/playbooks/service/apt_cacher_ng.yml        @drybjed @ypid

/ansible/roles/cryptsetup/                          @drybjed @ypid
/ansible/playbooks/service/cryptsetup*.yml          @drybjed @ypid

/ansible/roles/debops_api/                          @drybjed @ypid
/ansible/playbooks/service/debops_api.yml           @drybjed @ypid

/ansible/roles/dovecot/                             @debops/mail-team
/ansible/playbooks/service/dovecot.yml              @debops/mail-team

/ansible/roles/gitlab*/                             @debops/gitlab-team
/ansible/playbooks/service/gitlab*.yml              @debops/gitlab-team

/ansible/roles/grub/                                @debops/system-team
/ansible/playbooks/service/grub.yml                 @debops/system-team

/ansible/roles/mailman/                             @debops/mail-team
/ansible/playbooks/service/mailman.yml              @debops/mail-team

/ansible/roles/nullmailer/                          @debops/mail-team
/ansible/playbooks/service/nullmailer.yml           @debops/mail-team

/ansible/roles/opendkim/                            @debops/mail-team
/ansible/playbooks/service/opendkim.yml             @debops/mail-team

/ansible/roles/owncloud/                            @debops/cloud-team
/ansible/playbooks/service/owncloud*.yml            @debops/cloud-team

/ansible/roles/persistent_paths/                    @drybjed @ypid
/ansible/playbooks/service/persisten_paths.yml      @drybjed @ypid

/ansible/roles/postconf/                            @debops/mail-team
/ansible/playbooks/service/postconf.yml             @debops/mail-team

/ansible/roles/postfix/                             @debops/mail-team
/ansible/playbooks/service/postfix.yml              @debops/mail-team

/ansible/roles/postscreen/                          @debops/mail-team
/ansible/playbooks/service/postscreen.yml           @debops/mail-team

/ansible/roles/postwhite/                           @debops/mail-team
/ansible/playbooks/service/postwhite.yml            @debops/mail-team

/ansible/roles/saslauthd/                           @debops/mail-team
/ansible/playbooks/service/saslauthd.yml            @debops/mail-team

/ansible/roles/sysctl/                              @drybjed @ypid
/ansible/playbooks/service/sysctl.yml               @drybjed @ypid

/ansible/roles/unbound/                             @debops/mail-team
/ansible/playbooks/service/unbound.yml              @debops/mail-team
